@use "../../../styles.scss";

body {
    background-color: #ECEEFE;
}

.background {
    width: 100vw;
    height: 100vh;
    height: 100svh;
    background-color: #ECEEFE;
    position: relative;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .logo-and-text {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .moving-logo {
        height: 85px;
        width: 85px;
    }

    .title {
        font-size: 32px;
        font-weight: 700;
    }


    @media (max-width: 450px) {
        .title {
            font-size: 20px;
            font-weight: 700;
        }

        .moving-logo {
            height: 60px;
            width: 60px;
        }
    }


    @media(max-width:750px) {
        justify-content: center;
    }
}


.login-page-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100% - 10%);
    top: 5%;
    background-color: #ECEEFE;
}


mat-card {
    width: 606px;
    height: auto;
    flex-shrink: 0;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;


    @media(max-width: 650px) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 10px;
    }

    @media(max-width: 400px) {
        width: 100%;
        padding: 10px 10px;
    }

    @media screen and (min-width: 1024px) and (max-height: 1050px) {
        padding: 0 30px;
        justify-content: center;
        height: 73vh;
    }

    @media screen and (min-width: 1024px) and (max-height: 600px) {
        padding: 0 30px;
        height: 85vh;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        padding: 0px 30px;
    }

    @media screen and (max-width: 767px) {
        padding: 15px 30px;
    }
}


mat-card-header {
    text-align: center;
    color: #444DF2;
    --mat-card-title-text-size: 46px;
    --mat-card-subtitle-text-size: 20px;
    margin-bottom: 40px;

    @media(max-width: 650px) {
        width: 90%;
        --mat-card-title-text-size: 32px;
        --mat-card-subtitle-text-size: 17px;
    }

    @media(max-width: 400px) {
        width: 100%;
        margin-bottom: 10px;
    }

    @media screen and (min-width: 1024px) and (max-height: 1050px) {
        margin-bottom: 10px;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin-bottom: 10px;
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 15px;
        --mat-card-title-text-size: 28px;
    }
}

.mat-mdc-card-header {
    @media screen and (min-width: 1024px) and (max-height: 1050px) {
        display: flex;
        padding: 0 16px 0 !important;
    }

    @media screen and (max-width: 767px) {
        padding: 0px 16px 0;
    }
}

mat-card-title {
    margin-bottom: 30px;
    font-family: 'Nunito', sans-serif !important;

    @media(max-width: 650px) {
        font-weight: 700;
    }

    @media(max-width: 400px) {
        margin-bottom: 0;
    }

    @media screen and (min-width: 1024px) and (max-height: 1050px) {
        margin-bottom: 0;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin-bottom: 0;
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 0;
    }
}


form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    width: 514px;

    ::ng-deep .mdc-text-field--outlined {
        padding-right: max(0px, var(--mdc-outlined-text-field-container-shape)) !important;
    }


    .input-field-container {
        width: 100%;
        height: 60px;
        border-radius: 100px;
        border: none;
        outline: none;
        background-color: #ECEEFE;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 17px 32px;
        gap: 30px;

        &:hover {
            border: 1px solid #444DF2;

            .google-login-btn {
                color: #444DF2;

                &:hover {
                    scale: 1.05;
                }
            }
        }


        @media (max-width: 400px) {
            width: 100%;
        }
    }

    a:-webkit-any-link {
        text-decoration: none !important;
    }

    .forget-password {
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        text-decoration: none !important;
    }


    .divider {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .divider .line {
        flex-grow: 1;
        height: 1px;
        background-color: #ccc;
    }

    .divider .text {
        padding: 0 10px;
        color: #777;
    }


    .google-login-btn {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        img {
            width: 38px;
            height: 38px;
            object-fit: cover;

            @media(max-width: 400px) {
                width: 25px;
                height: 25px;
            }
        }

        cursor: pointer;
    }


    .button-box {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 30px;

        .login-btn {
            width: 137px;
            height: 49px;
            border-radius: 25px;
            padding: 12px 25px;
            background-color: #444DF2;
            border: none;
            cursor: pointer;

            &:hover {
                filter: opacity(70%);
            }
        }


        .guest-login-btn {
            width: 137px;
            height: 49px;
            border-radius: 25px;
            padding: 12px 25px;
            background-color: #FFF;
            border: none;
            cursor: pointer;
            border: 1px solid #ABAEF8;

            &:hover {
                filter: opacity(70%);
            }
        }
    }

    /*mat Formfield design*/
    .full-width {
        width: 100% !important;
    }

    ::ng-deep .mat-mdc-form-field-icon-prefix>.mat-icon {
        padding: 0px;
        padding: 18px 32px;
        line-height: 24px;

        @media(max-width: 650px) {
            padding: 13px 32px;
        }

        @media(max-width: 400px) {
            padding: 13px 27px;
        }
    }

    ::ng-deep .mat-mdc-form-field-infix {
        box-sizing: border-box;
        padding: 18px 0;

        @media(max-width: 650px) {
            padding: 13px 0;
            min-height: 50px;
            height: 50px !important;
        }
    }

    ::ng-deep .mdc-text-field--focused .mdc-notched-outline>* {
        border-color: lightgray !important;
    }



    @media (max-width: 650px) {
        width: 90%;

        ::ng-deep .mdc-text-field--outlined {
            padding-right: max(0px, var(--mdc-outlined-text-field-container-shape)) !important;
        }
    }

    @media (max-width: 400px) {
        width: 100%;
        gap: 18px;
    }

    @media screen and (min-width: 1024px) and (max-height: 1050px) {
        gap: 10px;
    }

    @media screen and (min-width: 1024px) and (max-height: 600px) {
        gap: 10px;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        gap: 15px;
    }

    @media screen and (max-width: 767px) {
        gap: 10px;
    }
}


.legals {
    flex-shrink: 0;
    margin-top: 50px;
    display: flex;
    gap: 16px;
    color: #A4A8F7;
    cursor: pointer;

    @media (max-width: 450px) {
        margin-top: 0px;
    }
}


.login-btns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 30px;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1024px) and (max-height: 600px) {
        padding-top: 10px;
    }
}


::ng-deep .mdc-snackbar {
    position: fixed !important;
}


.to-signup-below {
    position: static;
    margin-top: 30px;
    display: none;

    a {
        text-decoration: none;
        color: #797EF3;
    }

    @media(max-width: 750px) {
        display: block;
        margin-top: 0px;
        margin-bottom: 10px;
    }
}

a {
    text-decoration: none;
    color: #797EF3;
}

.to-signup-top {
    @media(max-width: 750px) {
        display: none;
    }
}