<div class="background">
    <div class="login-page-container">
        <div class="headline">
            <div class="logo-and-text">
                <img class="moving-logo" src="./assets/img/logo.png">
                <div class="title">DABubble</div>
            </div>
            <div class="to-signup-top">
                <div>Neu bei Bubble? </div>
                <a [routerLink]="'/sign-up'">Konto Erstellen</a>
            </div>
        </div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Anmeldung</mat-card-title>
                <mat-card-subtitle>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
                    verwendest</mat-card-subtitle>
            </mat-card-header>
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
                <mat-form-field appearance="outline" class="full-width register-outline-field">
                    <mat-icon matIconPrefix class="material-icons-outlined">mail</mat-icon>
                    <input matInput formControlName="email" placeholder="beispiel@email.com" type="email"
                        style="color: black !important;">
                    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email eingeben</mat-error>
                    <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Richtige Email eingeben</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width register-outline-field">
                    <mat-icon matIconPrefix class="material-icons-outlined">lock</mat-icon>
                    <input matInput placeholder="Password" formControlName="password" type="password" style="
                color: black !important;">
                    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password eingeben</mat-error>
                    <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Mindestens 6 Zeichen
                        eingeben</mat-error>
                </mat-form-field>
                <div class="forget-password">
                    <a [routerLink]="'/forget-password'">Password vergessen?</a>
                </div>
                <div class="divider">
                    <div class="line"></div>
                    <div class="text">ODER</div>
                    <div class="line"></div>
                </div>
                <div class="input-field-container" (click)="loginWithGoogle()">
                    <div class="google-login-btn">
                        <img src="./assets/img/Google.png">
                        <span>Anmelden mit Google</span>
                    </div>
                </div>
                <div class="login-btns">
                    <button type="submit" [disabled]="loginForm.invalid" mat-fab extended color="primary">
                        Anmelden
                    </button>
                    <button (click)="loginAsGuest()" mat-fab extended class="unfilled-text-btn">
                        Gäste Login
                    </button>
                </div>
            </form>
        </mat-card>
        <div class="to-signup-below">
            <div>Neu bei Bubble? </div>
            <a [routerLink]="'/sign-up'">Konto Erstellen</a>
        </div>
        <div class="legals">
            <div routerLink="/imprint">Impressum</div>
            <div routerLink="/data-privacy">Datenschutz</div>
        </div>
    </div>
</div>
