<div class="logInPage-Container">
    <div [style.display]="!isIntro ? 'block' : 'none' " class="logoContent-normal">
        <img src="./assets/img/logo+text.png">
    </div>


    <div style="position: absolute;">
        <div style="position: relative; width: 100vw; height: 100vh;">
            <div [style.display]="isIntro ? 'block' : 'none' " class="introBg"> </div>
            <div [style.display]="isIntro ? 'block' : 'none' " class="logoAndTitleAnimation">

                <div class="introLogoTitle">
                    <div class="LogoAndTitleContent">
                        <img src="./assets/img/logo.png">
                        <div class="title">DABubble</div>
                    </div>
                </div>

            </div>

        </div>
    </div>



    <mat-card>
        <mat-card-header>
            <mat-card-title>Anmeldung</mat-card-title>
            <mat-card-subtitle>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeite
                verwendest</mat-card-subtitle>
        </mat-card-header>

        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="input-field-container">
                <img src="./assets/img/mail.png">
                <input matInput placeholder="beispiel@email.com" formControlName="email" type="email">
            </div>

            <div class="input-field-container">
                <img src="./assets/img/lock.png">
                <input matInput placeholder="Password" formControlName="password" type="password">
            </div>

            <div class="forgetPassword">
                <a href="#">Password vergessen?</a>
            </div>


            <div class="divider">
                <div class="line"></div>
                <div class="text">ODER</div>
                <div class="line"></div>
            </div>


            <div class="input-field-container">
                <div class="googleLoginBtn">
                    <img src="./assets/img/Google.png">
                    <span>Anmelden mit Google</span>
                </div>
            </div>


            <div class="buttonBox">
                <button type="submit" class="loginBtn">Anmelden</button>
                <button class="guestLoginBtn" (click)="loginAsGuest()">Gäste Login</button>
            </div>

        </form>
    </mat-card>

    <div style="position: absolute; right: 75px; top: 75px; cursor: pointer; font-size: 18px; text-align: right;">Neu
        bei Bubble? </div>
    <div style="position: absolute; right: 65px; top: 110px; cursor: pointer;display: inline-flex; padding: 10px 15px;
    align-items: flex-start; gap: 10px; color: #797EF3;" [routerLink]="'/sign-up'">Konto Erstellen</div>

    <div class="legals">
        <div routerLink="/impressum">Impressum</div>
        <div>Datenschutz</div>
    </div>
</div>