<div class="dashboard">
    <section class="message-section">
        <header>
            <div (click)="openProfileDialogInSearch(receiver)" class="user-avatar-container">
                <img src="{{receiver.photoURL}}" alt="">
                <span>{{receiver.name}}</span>
            </div>
        </header>
        <main #scroller>
            <app-message *ngFor="let msg of getAllMessages(); trackBy: trackByFunction" [message]="msg" [allUsers]="allUsers"></app-message>
            <div *ngIf="!chatExists" class="new-conversation-container">
                <div class="user-info-box">
                    <img src="{{receiver.photoURL}}" alt="">
                    <span>{{receiver.name}}</span>
                </div>
                <span>Diese Unterhaltung findet nur zwischen <span>&#64;{{receiver.name}}</span> und dir statt.</span>
            </div>
            <div #endScrollElement></div>
        </main>
        <app-scroll-button [ngStyle]="{'opacity': !isElementVisible ? '1' : '0'}" (EmitScrollDown)="scrollDown()"
            [chatData]="{collPath: 'chat/' + chatId + '/message'}"></app-scroll-button>
        <div class="input-message-container">
            <textarea [(ngModel)]="text" (ngModelChange)="checkForTag()" placeholder="Nachricht an @{{receiver.name}}"
                (keyup)="sendByKey($event)" (keydown)="sendByKey($event)"></textarea>
            <div class="control-container">
                <div class="chat-action-box">
                    <div class="file-upload-button">
                        <label for="fileUpload">
                            <mat-icon class="action-btn-style">add</mat-icon>
                        </label>
                        <input type="file" style="display:none;" id="fileUpload" (change)="onUpload($event)">
                    </div>
                    <hr>
                    <mat-icon (click)="toggleEmoji($event)" class="action-btn-style">sentiment_satisfied</mat-icon>
                    <app-emoji-picker *ngIf="isOpened" (emojiSelectedEvent)="addEmoji($event)" appClickOutside
                        (clickOutside)="closeEmojiMenu()"></app-emoji-picker>
                    <mat-icon appClickOutside (clickOutside)="closeTagMenu()" (click)="toggleTagMenu('@')"
                        class="action-btn-style">alternate_email</mat-icon>
                    <div *ngIf="fileUpload" class="file-to-upload">
                        <mat-icon (click)="onDelete(fileUpload.path)" class="delete-btn">close</mat-icon>
                        <img style="height: 45px;" src="{{fileType}}" alt="">
                    </div>
                    <div class="tag-menu-outer-container">
                        <div *ngIf="showTagMenu" class="tag-menu-inner-container">
                            <div class="user" *ngFor="let user of filteredUsersForTag" (click)="tagUser(user.name)">
                                <img src="{{user.photoURL}}" alt="">
                                <span>{{user.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <button [disabled]="this.isEmptyOrWhitespace() && fileType === ''" (click)="sendMessage()"><mat-icon
                        [ngStyle]="{'color' : this.isEmptyOrWhitespace() && fileType === '' ? 'grey' : '#535AF1'}"
                        class="send-btn">send</mat-icon></button>
            </div>
        </div>
    </section>
    <section [@slide] class="thread-section" *ngIf="this.threadService.threadIsOpen">
        <app-threads></app-threads>
    </section>
</div>