@import 'src/app/dashboard/chat-components/new-message/new-message.component.scss';

// .message-section {
//     min-width: 460px;
// }

.user-avatar-container {
    cursor: pointer;
}

app-emoji-picker {
    position: absolute;
    bottom: 50px;
}

// MEDIA-QUERIES

@media (max-width: 750px) {
    .message-section {
        margin: 0;
        border-radius: 0;
        height: 100%;
    }

    .user-in-channel-box {
        display: none;
    }

    .thread-section {
        border-radius: 0;
        margin-right: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@media (max-width: 500px) {

    header {
        height: 60px;
        padding: 10px 25px;
    }
}