@import "../../../../styles.scss";

.user-profile-sub-view-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 45px 40px;
    gap: 38px;

    .profile-sub-view-header {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            color: var(--black, #000);
            font-family: Nunito;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    .profile-sub-view-img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .profile-img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 100%;
            background-color: lightgray;
        }
    }

    .profile-sub-view-name {
        width: 100%;

        div {
            color: var(--black, #000);
            font-family: Nunito;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        p {
            color: var(--text-gray, #686868);
            font-family: Nunito;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: unset;
        }

        .flex-row {
            display: flex !important;
            align-items: center !important;
            gap: 15px;
        }

        .profile-edit-container {
            display: flex;
            justify-content: space-between;

            a {
                text-decoration: none;
                font-family: Nunito;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                color: #1381FF;
            }
        }
    }

    .profile-sub-view-email {
        width: 100%;

        img {
            padding-right: 20px !important;
        }

        p {
            color: var(--black, #000);
            font-family: Nunito;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        a {
            color: #1381FF;
            font-family: Nunito;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .dialog-close-button {
        border-radius: 100%;
        cursor: pointer;

        &:hover {
            background-color: lightgray;
        }
    }
}

.hover-style {
    cursor: pointer;
}