<div class="userProfileSubViewContainer">
    <div class="profileSubViewHeader">
        <div mat-dialog-title>Profile</div>
        <mat-icon (click)="closeDialog()" class="dialogCloseButton">close</mat-icon>
    </div>
    <div class="profileSubViewImg">
        <img class="profileImg" [src]="userPhotoURL" />
    </div>
    <div class="profileSubViewName">
        <div class="profileEdit-container">
            <div> {{ userName }} </div>
        </div>
        
        <div class="flexRow">
            <img src="assets/img/Online.png" *ngIf="this.userFbService.loggedInUserID">
            <p *ngIf="this.userFbService.loggedInUserID">Anwesend</p>
            <img src="assets/img/Offline.png" *ngIf="!this.userFbService.loggedInUserID">
            <p *ngIf="!this.userFbService.loggedInUserID">Abwesend</p>
        </div>
    </div>
    <div class="profileSubViewEmail">
        <p><img src="assets/img/mail.png">E-Mail-Adresse</p>
        <a href=""> {{ userEmail }} </a>
    </div>
    
    <div mat-dialog-actions>
        <button mat-fab extended color="primary" [mat-dialog-close]="">
            <mat-icon>mode_comment</mat-icon>
            Nachricht
        </button>
    </div>
</div>
