.forgetPassword-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 1280px;
    min-height: 100vh;
    background-color: #ECEEFE;
    position: relative;

    @media(max-width: 750px) {
        flex-direction: column;
    }
}

mat-card {
    width: 698px;
    height: max-content;
    flex-shrink: 0;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 53px;
    background-color: #FFF;

    @media(max-width: 750px) {
        width: 398px;
        padding: 40px 20px;
    }

    @media(max-width: 400px) {
        width: 300px;
    }
}

mat-card-header {
    text-align: center;
    color: #444DF2;
    --mat-card-title-text-size: 46px;
    --mat-card-subtitle-text-size: 20px;
    margin-bottom: 46px;

    mat-card-title {
        margin-bottom: 33px;

        @media(max-width: 750px) {
            margin-bottom: 12px;
        }
    }

    mat-card-subtitle {
        @media(max-width: 750px) {
            --mat-card-subtitle-text-size: 17px;
            font-weight: 400;
        }
    }

    @media(max-width: 750px) {
        --mat-card-title-text-size: 32px;
        font-weight: 700;
    }
}

.fullWidth {
    width: 100%;
}

form {
    width: 486px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    .input-field-container {
        width: 100%;
        height: 60px;
        border-radius: 25px;
        border: none;
        outline: none;
        background-color: #ECEEFE;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 18px 32px;
        gap: 30px;


        input {
            outline: none;
            border: none;
            background-color: #ECEEFE;
        }
    }


    .buttonBox {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 30px;

        .sendEmailBtn {
            width: 170px;
            height: 49px;
            border-radius: 25px;
            padding: 12px 25px;
            background-color: #686868;
            border: none;
            cursor: pointer;
            color: white;

            &:hover {
                filter: opacity(70%);
            }
        }

        /*mat Formfield design*/
        .fullWidth {
            width: 100% !important;
        }

    }

    .messageBox-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .messageBox {
            box-sizing: border-box;
            width: 70%;
            font-size: 20px;
            color: #757A94;
            text-align: center;

            @media(max-width: 750px) {
                width: 100%;
                font-size: 20px;
            }
        }
    }


    .buttonBox {
        display: flex;
        justify-content: flex-end;
    }

    .arrow-back {
        position: absolute;
        top: 45px;
        left: 32px;
        cursor: pointer;
        border-radius: 20%;
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        &:hover {
            background-color: rgba(0, 0, 0, 0.15);
        }

        @media(max-width:400px) {
            top: 25px;
            left: 15px;
        }
    }

    /*mat-formfield-design*/
    ::ng-deep .mat-mdc-form-field-icon-prefix>* {
        padding-left: 32px !important;
    }

    ::ng-deep .mat-mdc-text-field-wrapper>* {
        box-sizing: border-box !important;
        display: flex !important;
        align-items: center !important;
    }

    ::ng-deep .mdc-notched-outline>* {
        background-color: rgb(236, 238, 254, 0.3) !important;
    }

    ::ng-deep .mdc-text-field--focused .mdc-notched-outline>* {
        border-color: lightgray !important;
    }


    .mat-icon {
        padding: 18px !important;

        @media(max-width: 750px) {
            padding: 13px 32px !important;
        }
    }

    @media(max-width: 750px) {
        box-sizing: border-box;
        width: auto;


        ::ng-deep .mat-mdc-form-field-infix {
            min-height: 50px;
            height: 50px;
        }
    }

}

/*Logo image after animation*/
.logoContent-normal {
    display: flex;
    width: 100vw;
    max-width: 1280px;
    justify-content: flex-start;
    margin-top: 75px;
    margin-left: 75px;
    margin-bottom: 116px;

    img {
        height: 70px;
        width: auto;
        object-fit: cover;
        position: relative;
    }

    @media(max-width: 1276px) {
        position: relative;
        left: -250px;
        width: unset;
        margin-bottom: 50px;
    }

    @media(max-width: 750px) {
        left: 0px;
        top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: 100vw;
        margin-bottom: 50px;
        margin-left: 0;
    }

}

.legals {
    flex-shrink: 0;
    //position: absolute;
    bottom: 48px;
    display: flex;
    gap: 16px;
    color: #A4A8F7;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;

    @media(max-width: 750px) {
        display: none;
    }
}

::ng-deep .mdc-text-field--outlined {
    padding-right: max(0px, var(--mdc-outlined-text-field-container-shape)) !important;
}

.backgroundContainer {
    width: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #ECEEFE;
}