<div class="background-container">
<div class="forget-password-container">
    <div class="logo-content-normal">
        <img src="./assets/img/logo+text.png">
    </div>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Password zurücksetzen</mat-card-title>
            <mat-card-subtitle>Bitte geben Sie Ihre E-Mail-Adresse ein.</mat-card-subtitle>
        </mat-card-header>
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="full-width register-outline-field">
                <input matInput placeholder="beispiel@email.com" formControlName="email" type="email" style="
                color: black !important;">
                <mat-icon matIconPrefix><img src="./assets/img/mail.png"></mat-icon>
                <mat-error>email eingeben</mat-error>
            </mat-form-field>

            <div class="message-box-container">
                <div class="message-box">Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</div>
            </div>

            <div class="button-box">
                <button class="send-email-btn" type="submit" [disabled]="forgetPasswordForm.invalid">E-Mail senden</button>
            </div>

            
        </form>
        <div class="arrow-back">
            <button class="basic-button close-btn" [routerLink]="'/login'"><mat-icon>arrow_back</mat-icon></button>
        </div>

    </mat-card>

    <div class="legals">
        <div routerLink="/imprint">Impressum</div>
        <div routerLink="/data-privacy">Datenschutz</div>
    </div>

</div>
</div>