<div class="logInPage-Container">
    <div class="logoContent-normal">
        <img src="./assets/img/logo+text.png">
    </div>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Password zurücksetzen</mat-card-title>
            <mat-card-subtitle>Bitte geben Sie Ihre E-Mail-Adresse ein.</mat-card-subtitle>
        </mat-card-header>
        <form [formGroup]="forgetPasswordForm">
            <mat-form-field appearance="outline" class="fullWidth custom-outline-field">
                <input matInput placeholder="beispiel@email.com" formControlName="email" type="email" style="
                color: black !important;">
                <mat-icon matIconPrefix><img src="./assets/img/mail.png"></mat-icon>
                <mat-error>email eingeben</mat-error>
            </mat-form-field>

            <div class="messageBox-container">
                <div class="messageBox">Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</div>
            </div>

            <div class="buttonBox">
                <button class="sendEmailBtn">E-Mail senden</button>
            </div>

            <div class="arrow-back">
                <img src="assets/img/arrow_back.png" [routerLink]="'/login'">
            </div>

        </form>

    </mat-card>

    <div class="legals">
        <div routerLink="/impressum">Impressum</div>
        <div>Datenschutz</div>
    </div>

</div>