<div *ngIf="!showEdit"
    [ngClass]="{'message-container-reverse': this.currentUser == message.user.id && message.origin === 'chat'}"
    class="message-container" id="{{message.messageId}}">
    <div class="user-avatar-container">
        <img *ngIf="userInput" class="user-avatar" src="{{ messageUser?.photoURL }}" alt="">
        <img *ngIf="!userInput" class="user-avatar" src="{{ message.user.photoURL }}" alt="">
        <app-user-presence [userID]="message.user.id"></app-user-presence>
    </div>
    <div *ngIf="!showEdit"
        [ngClass]="{'content-container-reverse': currentUser == message.user.id && message.origin === 'chat'}"
        class="content-container">
        <div [ngClass]="{'creator-info-reverse': currentUser == message.user.id && message.origin === 'chat'}"
            class="creator-info">
            <span class="user-name" (click)="openProfileDialog(message.user)">{{ messageUser?.name }}</span>
            <span>{{getTimeOfDate(message.time)}} Uhr</span>
        </div>
        <div *ngIf="!this.isEmptyOrWhitespace(message.text)" [ngClass]="messageClasses(message)" class="message">
            <span>{{message.text}}</span>
            <br>
            <span *ngIf="message.textEdited" class="edited-msg">(bearbeitet)</span>
        </div>
        <div *ngIf="pdfFile || imageFile" class="show-attachment">
            <a href="{{!isPDF ? imageFile?.url : pdfFile?.url}}" target="_blank"><img
                    src="{{!isPDF ? imageFile?.url : 'assets/img/icons/pdf.png'}}"
                    [ngStyle]="{'max-width': !isPDF ? '350px' : '64px', 'width': '100%'}"></a>
        </div>
        <div *ngIf="message.reactions.length > 0" class="reactions-container">
            <mat-icon class="material-icons-outlined" (click)="toggleInReaction($event)">add_reaction</mat-icon>
            <app-emoji-picker appClickOutside (clickOutside)="onOutsideClick('isReactionOpened')"
                class="reaction-emoji-inside" *ngIf="isReactionOpened"
                (emojiSelectedEvent)="updateMessageReactions($event, message.messageId)"></app-emoji-picker>
            <div class="reaction-btn" *ngFor="let reaction of message.reactions"
                (click)="updateMessageReactions(reaction.reactionEmoji, message.messageId)">
                <span class="reaction-emoji-btn">{{reaction.reactionEmoji}}</span><span
                    class="reaction-count">{{reaction.users.length}}</span>
                <div class="hover-card-reactions">
                    <span>{{reaction.reactionEmoji}}</span>
                    <div class="reaction-users-box">
                        <ng-container *ngFor="let name of reaction.users | filterBy: currentUserName; let i = index">
                            <ng-container *ngIf="currentUserName === name; else showName">Du</ng-container>
                            <ng-template #showName>{{ name }}</ng-template>
                            <ng-container *ngIf="i === reaction.users.length - 2 && reaction.users.length == 2"> und
                            </ng-container>
                            <ng-container *ngIf="i === reaction.users.length - 2 && reaction.users.length > 2"> und
                            </ng-container>
                            <ng-container *ngIf="i < reaction.users.length - 2">, </ng-container>
                        </ng-container>
                    </div>
                    <span class="small-letters"
                        *ngIf="reaction.users.length > 1 && reaction.users.includes(currentUserName)">haben
                        reagiert</span>
                    <span class="small-letters"
                        *ngIf="reaction.users.length > 1 && !reaction.users.includes(currentUserName)">haben
                        reagiert</span>
                    <span class="small-letters"
                        *ngIf="reaction.users.length == 1 && reaction.users.includes(currentUserName)">hast
                        reagiert</span>
                    <span class="small-letters"
                        *ngIf="reaction.users.length == 1 && !reaction.users.includes(currentUserName)">hat
                        reagiert</span>
                </div>
            </div>
        </div>
        <div class="reply-information">
            <button *ngIf="message.threadCount > 1"  (click)="this.threadService.openThread(message)"
                class="answer-button">
                {{message.threadCount}} Antworten</button>
            <button *ngIf="message.threadCount == 1"   (click)="this.threadService.openThread(message)"
                class="answer-button">
                {{message.threadCount}} Antwort</button>
            <div class="last-message-time" *ngIf="message.timeOflastReply !== '' || 0">
                letzte Antwort {{getTimeOfDate(message.timeOflastReply)}}
            </div>
        </div>
    </div>
    <div [ngClass]="{'interaction-container-reverse': currentUser === message.user.id && message.origin === 'chat'}"
        class="interaction-container">
        <ng-container *ngFor="let reaction of getHighestReactions(); let i = index">
            <span class="reaction-hover" (click)="updateMessageReactions(reaction.reactionEmoji, message.messageId)"
                *ngIf="i === 0">{{reaction.reactionEmoji}}</span>
            <span class="reaction-hover" (click)="updateMessageReactions(reaction.reactionEmoji, message.messageId)"
                *ngIf="i === 1">{{reaction.reactionEmoji}}</span>
        </ng-container>
        <mat-icon class="material-icons-outlined" (click)="toggleReaction($event)">add_reaction</mat-icon>
        <app-emoji-picker [ngStyle]="getStyles(message.origin)"
            [ngClass]="{'reaction-emoji-reverse': currentUser !== message.user.id && message.origin === 'chat'}"
            class="reaction-emoji" *ngIf="isReactionInputOpened" #pick appClickOutside
            (clickOutside)="onOutsideClick('isReactionInputOpened')"
            (emojiSelectedEvent)="updateMessageReactions($event, message.messageId)"></app-emoji-picker>
        <mat-icon class="material-icons-outlined" *ngIf="message.type == 'message'"
            (click)="this.threadService.openThread(message)">comment</mat-icon>
        <mat-icon class="material-icons-outlined" *ngIf="message.user.id == this.currentUser"
            (click)="openMenu()">more_vert</mat-icon>
        <div class="menu-container">
            <button (click)="openEdit(message.text)" *ngIf="checkIfEdit"
                [ngClass]="{'edit-msg-btn-channel-style' : message.origin === 'channel' || message.origin === ''}">Nachricht
                bearbeiten</button>
            <button class="delete-msg-btn"
                [ngClass]="{'delete-msg-btn-channel-style' : message.origin === 'channel' || message.origin === ''}"
                (click)="message.type === 'message' ? deleteMessage(message.messageId, message.fileUpload.path) : deleteReply(collPath)"
                *ngIf="checkIfEdit">Nachricht
                löschen</button>
        </div>
    </div>
</div>
<div *ngIf="showEdit" class="edit-container" [ngClass]="{'edit-container-thread-style' : message.origin === ''}">
    <div class="edit-box">
        <textarea [(ngModel)]="editMessage" (keyup)="sendByKey($event)" (keydown)="sendByKey($event)"></textarea>
        <div class="button-box">
            <mat-icon class="material-icons-outlined" (click)="toggleEmoji($event)"
                class="action-btn-style">sentiment_satisfied</mat-icon>
            <app-emoji-picker class="edit-emoji" *ngIf="isOpened" (emojiSelectedEvent)="addEmoji($event)"
                appClickOutside (clickOutside)="onOutsideClick('isOpened')"></app-emoji-picker>
            <div class="button-right">
                <button (click)="cancelEdit()" class="cancel-btn" mat-fab extended color="primary">Abbrechen</button>
                <button (click)="message.type === 'message' ? saveMessage(message.messageId) : saveReply(collPath)"
                    class="save-btn" mat-fab extended color="primary">Speichern</button>
            </div>
        </div>
    </div>
    <img class="user-avatar" src="{{ message.user.photoURL }}" alt="">
</div>