<div *ngIf="!showEdit" [ngClass]="{'message_container_reverse': this.currentUser == message.user.id}"
    class="message_container">
    <img class="user_avatar" src="{{ message.user.photoURL }}" alt="">
    <div *ngIf="!showEdit" [ngClass]="{'content_container_reverse': currentUser == message.user.id}"
        class="content_container">
        <div [ngClass]="{'creator_info_reverse': currentUser == message.user.id}" class="creator_info">
            <span>{{ message.user.name }}</span>
            <span>{{getTimeOfDate(message.time)}} Uhr</span>
        </div>
        <div [ngClass]="{'message_reverse': currentUser == message.user.id}" class="message">
            {{message.text}}
            <span *ngIf="message.textEdited" class="editedMsg">(bearbeitet)</span>
        </div>
        <div class="reactions_container">
            <mat-icon (click)="openInReaction()">add_reaction</mat-icon>
            <app-emoji-picker style="top: 150px;" class="reaction_emoji" *ngIf="isReactionOpened"
                (emojiSelectedEvent)="updateMessageReactions($event, message.messageId)"></app-emoji-picker>
            <div class="reaction_btn" *ngFor="let reaction of message.reactions"
                (click)="updateMessageReactions(reaction.reactionEmoji, message.messageId)">
                <span class="reactionEmoji">{{reaction.reactionEmoji}}</span><span
                    class="reactionCount">{{reaction.users.length}}</span>
                <div class="hover_card_reactions">
                    <span>{{reaction.reactionEmoji}}</span>
                    <div class="reaction_users_box">
                        <!-- <ng-container *ngIf="reaction.users.includes(currentUserName)">Du<ng-container *ngIf="reaction.users.length > 2">, </ng-container></ng-container> -->
                        <!-- <ng-container *ngIf="reaction.users.length == 2 && reaction.users.includes(currentUserName)">und </ng-container> -->
                        <ng-container *ngFor="let name of reaction.users; let i = index ">
                            <ng-container *ngIf="currentUserName === name; else showName">
                                Du
                            </ng-container>
                            <ng-template #showName>
                                {{name}}
                            </ng-template>
                            <ng-container *ngIf="i == reaction.users.length - 2 && reaction.users.length == 2"> und
                            </ng-container>
                            <ng-container *ngIf="i === reaction.users.length - 2 && reaction.users.length > 2"> und
                            </ng-container>
                        </ng-container>
                        <!-- <ng-container *ngIf="reaction.users.length > 3">
                            und {{reaction.users.length - 3}} weitere
                        </ng-container> -->

                        <!-- <span *ngFor="let user of reaction.users">{{user}}</span> -->
                    </div>
                    <ng-container *ngIf="reaction.users.length > 1 && reaction.users.includes(currentUserName)">haben
                        reagiert</ng-container>
                    <ng-container *ngIf="reaction.users.length > 1 && !reaction.users.includes(currentUserName)">haben
                        reagiert</ng-container>
                    <ng-container *ngIf="reaction.users.length == 1 && reaction.users.includes(currentUserName)">hast
                        reagiert</ng-container>
                    <ng-container *ngIf="reaction.users.length == 1 && !reaction.users.includes(currentUserName)">hat
                        reagiert</ng-container>
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{'interaction_container_reverse': currentUser == message.user.id}" class="interaction_container">
        <mat-icon (click)="openReaction()">add_reaction</mat-icon>
        <app-emoji-picker class="reaction_emoji" *ngIf="isReactionInputOpened" #pick
            (emojiSelectedEvent)="updateMessageReactions($event, message.messageId)"></app-emoji-picker>
        <mat-icon *ngIf="message.type == 'message'" (click)="this.threadService.openThread(message)">comment</mat-icon>
        <mat-icon *ngIf="message.user.id == this.currentUser" (click)="openMenu()">more_vert</mat-icon>
        <div class="menu_container">
            <button (click)="openEdit(message.text)" *ngIf="checkIfEdit">Nachricht bearbeiten</button>
            <button class="deleteMsgBtn" (click)="deleteMessage(message.messageId)" *ngIf="checkIfEdit">Nachricht
                löschen</button>
        </div>
    </div>
</div>
<div *ngIf="showEdit" class="edit_container">
    <div class="edit_box">
        <textarea [(ngModel)]="editMessage"></textarea>
        <div class="button_box">
            <mat-icon (click)="toggleEmoji()" class="action_btn_style">sentiment_satisfied</mat-icon>
            <app-emoji-picker class="edit_emoji" *ngIf="isOpened"
                (emojiSelectedEvent)="addEmoji($event)"></app-emoji-picker>
            <div class="button_right">
                <button (click)="cancelEdit()" class="cancel_btn" mat-fab extended color="primary">Abbrechen</button>
                <button (click)="saveMessage(message.messageId)" class="save_btn" mat-fab extended
                    color="primary">Speichern</button>
            </div>
        </div>
    </div>
    <img class="user_avatar" src="{{ message.user.photoURL }}" alt="">
</div>