.message_container {
    height: fit-content;
    display: flex;
    gap: 30px;
    padding: 10px 0 10px 45px;
    color: black;
    margin-bottom: 24px;

    &:hover {
        background-color: #ECEEFE;

        .message {
            background-color: white;
        }

        .interaction_container {
            display: flex !important;
            animation: fadeIn 225ms ease-in-out forwards;
        }
    }
}


.user_avatar {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: white;
}

.content_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.creator_info {
    display: flex;
    gap: 8px;

    span:first-of-type {
        font-weight: bold;
    }
}

.message {
    border-radius: 0 30px 30px 30px;
    padding: 15px;
    background-color: #ECEEFE;
    max-width: 85%;
    width: fit-content;
}

// MESSAGE STYLE FOR LOGGED IN USER

.message_container_reverse {
    flex-direction: row-reverse;
    padding: 10px 45px 10px 10px;

    &:hover {
        background-color: #ECEEFE;

        .interaction_container {
            display: flex !important;
            animation: fadeInReverse 225ms ease-in-out forwards;
        }
    }
}

.content_container_reverse {
    align-items: flex-end;
}

.message_reverse {
    border-radius: 30px 0 30px 30px;
    background-color: #797EF3 !important;
    color: white;
}

.creator_info_reverse {
    flex-direction: row-reverse;
}

.interaction_container_reverse {
    left: 25px;
    width: fit-content;
    border-radius: 25px 25px 0 25px !important;
}

// INTERACTIONS 

.interaction_container {
    display: none !important;
    position: absolute;
    height: fit-content;
    padding: 3px 10px 3px 10px;
    background-color: white;
    border-radius: 25px 25px 25px 0;
    display: flex;
    gap: 5px;
    border: 1px solid #ADB0D9;
    right: 25px;

    mat-icon {
        border-radius: 100%;
        cursor: pointer;

        &:hover {
            background-color: #ECEEFE;
            color: #ADB0D9;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes fadeInReverse {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

// UPDATE MESSAGE

.menu_container {
    position: relative;

    button {
        position: absolute;
        right: -125px;
        bottom: -10px;
        width: max-content;
        border: 1px solid #ADB0D9;
        border-radius: 0 25px 25px 25px;
        padding: 5px;
        background-color: white;

        &:hover {
            background-color: #ECEEFE;
            color: #797EF3;
        }
    }

    .deleteMsgBtn {
        bottom: -40px;
        background-color: rgb(236, 101, 101);

        &:hover {
            background-color: rgb(214, 17, 17);
            color: white;
        }
    }
}

.edit_msg_btn_channel_style {
    right: 0 !important;
    bottom: -33px !important;
    border-radius: 25px 0 25px 25px !important;
}

.delete_msg_btn_channel_style {
    right: 0 !important;
    bottom: -63px !important;
    border-radius: 25px 0 25px 25px !important;
}

.edit_container {
    width: 100%;
    background-color: #ECEEFE;
    display: flex;
    padding: 5px 25px;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    justify-content: center;


}

.edit_box {
    width: 80%;
    border-radius: 20px;
    padding: 20px;
    height: fit-content;
    background-color: white;

    textarea {
        resize: none;
        width: 100%;
        height: 100%;
        min-height: 100px;
        border: none;
        color: #686868;

        &:focus {
            outline: none;
        }
    }
}

.button_box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button_right {
        display: flex;
        gap: 32px;
    }

    mat-icon {
        color: #686868;
        cursor: pointer;
        border-radius: 100%;

        &:hover {
            background-color: #ECEEFE;
            color: #797EF3;
        }
    }
}

.edit_emoji {
    position: absolute;
    left: 100px;
    z-index: 2;
}

.reaction_emoji {
    position: absolute;
    left: 0;
    top: 32px;
    z-index: 2;
}

.reaction_emoji_inside {
    position: absolute;
    left: -30px;
    top: 40px;
    z-index: 2;
}

.reaction_emoji_reverse {
    left: auto;
    right: 0;
}

.cancel_btn {
    background-color: white;
    color: #444DF2;
    border: 1px solid #797EF3;
    font-weight: 700;

    &:hover {
        background-color: #444DF2;
        color: white;
        border: none;
    }
}

.save_btn {
    font-weight: 700;

    &:hover {
        background-color: #797EF3;
    }
}

.editedMsg {
    font-size: 10px;
}

// REACTIONS

.reactions_container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;

    mat-icon {
        cursor: pointer;
        border-radius: 100%;

        &:hover {
            background-color: white;
            color: #797EF3;
        }
    }
}

.reaction_btn {
    padding: 3px 10px 3px 10px;
    width: fit-content;
    border-radius: 20px;
    border: 1px solid #ADB0D9;
    display: flex;
    gap: 10px;
    align-items: baseline;
    cursor: pointer;
    position: relative;

    &:hover {
        border: 1px solid #444DF2;

        .hover_card_reactions {
            opacity: 1;
        }
    }
}

.hover_card_reactions {
    position: absolute;
    bottom: 35px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444DF2;
    color: white;
    padding: 15px 10px;
    border-radius: 30px 30px 30px 0;
    min-width: 110px;
    text-align: center;
    opacity: 0;
    transition: opacity 225ms ease-in-out;
}


.small_letters {
    font-size: 12px;
}

.reaction_hover {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 3;
    line-height: 0px;

    &:hover {
        background-color: #EDEEFE;
    }
}

@media (max-width: 1024px) {

    .message_container_reverse {
        padding-right: 15px;
    }

    .message_container {
        padding: 10px 20px;
    }
}

@media (max-width: 500px) {

    .message_container_reverse {
        padding-right: 15px;
    }

    .message_container {
        padding: 0 15px;
    }
}