

<div *ngIf="!showEdit" [ngClass]="{'message_container_reverse': this.currentUser == message.user.id}"
    class="message_container">
    <img class="user_avatar" src="{{ message.user.photoURL }}" alt="">
    <div *ngIf="!showEdit" [ngClass]="{'content_container_reverse': currentUser == message.user.id}"
        class="content_container">
        <div [ngClass]="{'creator_info_reverse': currentUser == message.user.id}" class="creator_info">
            <span>{{ message.user.name }}</span>
            <span>{{getTimeOfDate(message.time)}} Uhr</span>
        </div>
        <div [ngClass]="{'message_reverse': currentUser == message.user.id}" class="message">
            {{message.text}}
            <span *ngIf="message.textEdited" class="editedMsg">(bearbeitet)</span>
        </div>
    </div>
    <div [ngClass]="{'reaction_container_reverse': currentUser == message.user.id}" class="reaction_container">
        <mat-icon>add_reaction</mat-icon>
        <mat-icon (click)="openThread(message.messageId)">comment</mat-icon>
        <mat-icon *ngIf="message.user.id == this.currentUser" (click)="openMenu()">more_vert</mat-icon>
        <div class="menu_container">
            <button (click)="openEdit(message.text)" *ngIf="checkIfEdit">Nachricht bearbeiten</button>
            <button class="deleteMsgBtn" (click)="deleteMessage(message.messageId)" *ngIf="checkIfEdit">Nachricht
                löschen</button>
        </div>
    </div>
</div>
<div *ngIf="showEdit" class="edit_container">
    <div class="edit_box">
        <textarea [(ngModel)]="editMessage"></textarea>
        <div class="button_box">
            <button (click)="cancelEdit()" class="cancel_btn" mat-fab extended color="primary">Abbrechen</button>
            <button (click)="saveMessage(message.messageId)" class="save_btn" mat-fab extended
                color="primary">Speichern</button>
        </div>
    </div>
    <img class="user_avatar" src="{{ message.user.photoURL }}" alt="">
</div>
