<div class="create-channel-container">
    <div class="edit-header">
        <div class="headline">
            <mat-icon class="tag">tag</mat-icon>
            <h2> {{channel.channelName}}</h2>
        </div>
        <button class="basic-button close-btn" (click)="closeCreateChannelDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div>
        <div class="channel-name-border pdg-20">
            <div class="edit-channel">
                <div>
                    <h3>Channel-Name</h3>
                    <div class="flex-center">
                        <mat-icon class="tag">tag</mat-icon>
                        <h3>{{channel.channelName}}</h3>
                    </div>
                </div>
                <button class="edit-btn" (click)="toggleOutline()">Bearbeiten</button>
            </div>
        </div>
    </div>
    <div>
        <div class="channel-name-border pdg-20">
            <div class="edit-channel">
                <div>
                    <h3>Beschreibung</h3>
                    <div class="flex-center">
                        <mat-icon class="tag">tag</mat-icon>
                        <h3>{{channel.description}}</h3>
                    </div>
                </div>
                <button class="edit-btn" (click)="toggleOutline()">Bearbeiten</button>
            </div>
            <mat-divider></mat-divider>
            <div>
                <h3>Erstellt von </h3>
                <div class="creator-name">{{channel?.creator.name}}</div>
            </div>
        </div>
    </div>
    <div>
        <button mat-fab extended color="warn" (click)="deleteChannel()">
            Channel löschen
        </button>
        <button mat-fab extended color="primary" (click)="leaveChannel()">
            Channel verlassen
        </button>
    </div>
</div>