<div class="invitation-dialog-container">
    <div>
        <h3>Leute hinzufügen</h3>
    </div>
    <mat-radio-group class="flex-column" [(ngModel)]="selectedOption" (change)="openUsernameInput()">
        <mat-radio-button color="primary" value="all">Alle Mitglieder von <span>{{channel.channelName}}</span>
            hinzufügen</mat-radio-button>
        <mat-radio-button color="primary" value="individual">Bestimmte Leute hinzufügen</mat-radio-button>
    </mat-radio-group>
    <form class="width-100">
        <mat-form-field class="example-chip-list" appearance="outline">
            <mat-chip-grid #chipGrid aria-label="Benutzer auswählen">
                <mat-chip-row class="chip-row" *ngFor="let user of users" (removed)="remove(user.name)">
                    <div class="user-chip">
                        <img  src="{{user.photoURL}}">
                        <div>{{user.name}}</div>
                    </div>
                    <button class="remove-btn" matChipRemove [attr.aria-label]="'remove ' + user.name">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-chip-row>
            </mat-chip-grid>
            <input placeholder="Add User" #userInput [formControl]="userCtrl" [matChipInputFor]="chipGrid"
                [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)" />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                    {{user.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>

    <button class="create-btn" mat-fab extended color="primary" (click)="addUsers()">Erstellen</button>
</div>