<div class="invitation-dialog-container">
    <div>
        <h3>Leute hinzufügen</h3>
    </div>
    <mat-radio-group class="flex-column" [(ngModel)]="selectedOption" (change)="openUsernameInput()">
        <mat-radio-button color="primary" value="all">Alle Mitglieder von <span>{{channel.channelName}}</span>
            hinzufügen</mat-radio-button>
        <mat-radio-button color="primary" value="individual">Bestimmte Leute hinzufügen</mat-radio-button>
    </mat-radio-group>
    <div class="search-box">
        <mat-form-field class="mat-form-field" *ngIf="inputOpened" appearance="outline">
            <input matInput placeholder="Name eingeben" (click)="toggleSearchOutput()" (keyup)="searchData()"
                [(ngModel)]="search">
        </mat-form-field>
        <div *ngIf="searchOutput && filteredUser?.length > 0" class="search-output-header">
            <div class="user-box">
                <div class="user" *ngFor="let user of filteredUser" (click)="openProfile(user)">
                    <img src="{{user.photoURL}}" alt="">
                    <span>{{user.name}}</span>
                </div>
            </div>
        </div>
        <div class="control_container">
            <div class="chat_action_box">
                <mat-icon class="action_btn_style">add</mat-icon>
                <hr>
                <mat-icon class="action_btn_style">sentiment_satisfied</mat-icon>
              
                <div class="tagMenuOuterContainer">
                    <div *ngIf="showTagMenu" class="tagMenuInnerContainer">
                        <div class="user" *ngFor="let user of allUsers" (click)="addThisUser()">
                            <img src="{{user.photoURL}}" alt="">
                            <span>{{user.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="create-btn" mat-fab extended color="primary" (click)="addUsers()">Erstellen</button>
    </div>
</div>