<div class="invitation-dialog-container">
    <div class="header">
        <h3>Leute hinzufügen</h3>
        <button class="basic-button close-btn" (click)="closeAddPeopleDialog()"><mat-icon>close</mat-icon></button>
    </div>
    <mat-radio-group class="flex-column" [(ngModel)]="selectedOption" (change)="onRadioChange()">
        <mat-radio-button color="primary" id="radioOne" value="all">Alle Mitglieder zu <span>{{channel.channelName}}</span>
            hinzufügen</mat-radio-button>
        <mat-radio-button color="primary" value="individual">Bestimmte Leute hinzufügen</mat-radio-button>
    </mat-radio-group>
    <form class="width-100" *ngIf="inputOpened">
        <mat-form-field class="width-100" appearance="outline">
            <mat-chip-grid #chipGrid aria-label="Benutzer auswählen">
                <mat-chip-row class="chip-row" *ngFor="let user of users" (removed)="remove(user.name)">
                    <div class="user-chip">
                        <img src="{{user.photoURL}}">
                        <div>{{user.name}}</div>
                    </div>
                    <button class="remove-btn" matChipRemove [attr.aria-label]="'remove ' + user.name">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-chip-row>
            </mat-chip-grid>
            <input placeholder="Nutzer hinzufügen" #userInput [formControl]="userCtrl" [matChipInputFor]="chipGrid"
                [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)" (input)="validateInput()" />

            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" class="user-chip-menu">
                <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                    <div class="user-chip-search">
                        <img src="{{user.photoURL}}">
                        <div>{{user.name}}</div>
                    </div>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
    <button class="create-btn" mat-fab extended color="primary" (click)="addUsers()"
    [disabled]="shouldDisableCreateButton()">Erstellen</button>

</div>