<div class="create-channel-container">
    <div class="edit-header">
        <div class="headline">
            <mat-icon class="tag">tag</mat-icon>
            <h2> {{channel.channelName}}</h2>
        </div>
        <button class="basic-button close-btn" (click)="closeCreateChannelDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="main-content">
        <div>
            <div [ngClass]="{
            'channel-name-border': true,
            'pdg-20': !editChannelName, 
            'no-border': editChannelName,
            'no-padding': editChannelName
          }">
                <div class="edit-channel">
                    <div class="width-100 title-container">
                        <div class="flex-between">
                            <h3>Channel-Name</h3>
                            <button class="edit-btn" (click)="saveChannelName()" *ngIf="editChannelName">
                                <div *ngIf="!isMobile">Speichern</div>
                                <mat-icon *ngIf="isMobile" class="edit-mat-btn">check_circle_outline</mat-icon>
                            </button>
                        </div>
                        <div class="flex-center" *ngIf="!editChannelName">
                            <mat-icon class="tag">tag</mat-icon>
                            <h3>{{channel.channelName}}</h3>
                        </div>
                        <mat-form-field appearance="outline" class="width-100" *ngIf="editChannelName">
                            <input [formControl]="channelNameInput" matInput>
                        </mat-form-field>
                    </div>
                    <button class="edit-btn" (click)="toggleDescriptionInput()" *ngIf="!editChannelName">
                        <div *ngIf="!isMobile">Bearbeiten</div>
                        <mat-icon *ngIf="isMobile" class="edit-mat-btn material-icons-outlined">edit</mat-icon>

                    </button>
                </div>
            </div>
        </div>
        <div>
            <div class="description-container" [ngClass]="{
            'channel-name-border': true,
            'pdg-20': !editDescription, 
            'no-border': editDescription,
            'no-padding': editDescription
          }">
                <div class="edit-channel">
                    <div class="width-100 title-container">
                        <div class="flex-between">
                            <h3>Beschreibung</h3>
                            <button class="edit-btn" *ngIf="editDescription" (click)="saveDescription()">
                                <div *ngIf="!isMobile">Speichern</div>
                                <mat-icon *ngIf="isMobile" class="edit-mat-btn">check_circle_outline</mat-icon>
                            </button>
                        </div>
                        <div class="flex-center" *ngIf="!editDescription">
                            <h3>{{channel.description}}</h3>
                        </div>
                        <mat-form-field appearance="outline" class="width-100" *ngIf="editDescription">
                            <input [formControl]="channelDescriptionInput" matInput>
                        </mat-form-field>
                    </div>
                    <button class="edit-btn" *ngIf="!editDescription" (click)="toggleChannelNameInput()">
                        <div *ngIf="!isMobile">Bearbeiten</div>
                        <mat-icon *ngIf="isMobile" class="material-icons-outlined edit-mat-btn">edit</mat-icon>
                    </button>
                </div>
                <mat-divider></mat-divider>
                <div class="creator-container">
                    <div class="created-by">Erstellt von </div>
                    <div class="creator-name">{{channel.creator.name}}</div>
                </div>
            </div>
        </div>
        <div *ngIf="isMobile" class="member-list">
            <app-user-menu-dialog [isMobile]="isMobile"></app-user-menu-dialog>
        </div>
        <div class="channel-btn-container">
            <button mat-fab extended color="warn" (click)="deleteChannel()"
                [disabled]="channel.creator.id !== currentUserId">
                Channel löschen
            </button>
            <button mat-fab extended color="primary" (click)="leaveChannel()" [disabled]="">
                Channel verlassen
            </button>
        </div>
    </div>
</div>