<div class="userProfileViewContainer">
    <div class="profileViewHeader">
        <h2 mat-dialog-title>Profile</h2>
        <mat-icon>close</mat-icon>
    </div>
    <div class="profileViewImg">
        <img class="profileImg" src="../assets/img/avatar/avatar1.png" />
    </div>
    <div class="profileViewName">
        <h1>Elise Roth</h1>
        <p>Abwesend</p>
    </div>
    <div class="profileViewEmail">
        <p><img src="assets/img/mail.png">E-Mail-Adresse</p>
        <a>rothelise@beispiel.com</a>
    </div>
    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="" cdkFocusInitial>Nachricht</button>
    </div>
</div>