<div class="channels-section">
  <ng-container *ngIf="channelService.dataLoaded | async; else loading">
    <mat-tree class="mat-tree" [dataSource]="channelService.dataSource" [treeControl]="channelService.treeControl">
      <mat-tree-node class="child-node" *matTreeNodeDef="let node; let level = level" matTreeNodePaddingIndent="0px">
        <button mat-flat-button class="child-node-btn"
          (click)="this.drawerService.close(); this.threadService.closeThread()"
          [routerLink]="['channel/' + node.channelId]">
          <div>{{node.channelName}}</div>
          <mat-icon *ngIf="!node.isClosedChannel" class="tag">tag </mat-icon>
          <mat-icon *ngIf="node.isClosedChannel" class="material-icons-outlined">lock</mat-icon>
        </button>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node;when: channelService.hasChild" class="highest-node">
        <div class="main-node" *ngIf="node.channelName === 'Channel'">
          <div class="channel-headline">
            <div class="channel-head open-panel" (click)="toggleExpanded(node)">
              <button class="expand-channels-btn" mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.channelName">
                <mat-icon class="main-icon">
                  {{ channelService.treeControl.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right' }}
                </mat-icon>
              </button>
              <mat-icon class="material-icons-outlined">workspaces</mat-icon>
              <h3>{{node.channelName}}</h3>
            </div>
            <mat-icon class="basic-button" (click)="openCreateChannelDialog()">add</mat-icon>
          </div>
        </div>
        <div class="main-node others" *ngIf="node.channelName === 'Weitere'"
          [ngClass]="{'others-node': node.channelName === 'Weitere'}">
          <div class="channel-headline">
            <div class="channel-head open-panel" (click)="toggleExpanded(node)">
              <button class="expand-channels-btn" mat-icon-button matTreeNodeToggle>
                <mat-icon class="main-icon">
                  {{ channelService.treeControl.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right' }}
                </mat-icon>
              </button>
              <h3 class="other-groups"><mat-icon>workspaces</mat-icon>{{node.channelName}}</h3>
            </div>
          </div>
        </div>
      </mat-tree-node>
    </mat-tree>
  </ng-container>
  <ng-template #loading>
    <div class="loading-indicator">

    </div>
  </ng-template>
  <div class="add-channel" (click)="openCreateChannelDialog()">
    <mat-icon class="add-icon">add_circle_outline</mat-icon>
    <span>Channel hinzufügen</span>
  </div>
</div>