@import "../../../../styles.scss";



.create-channel-container {
    padding: 40px;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.close-btn {
    display: flex;
    align-self: flex-end;
}


.mat-input {
    width: 100%;
}


h3 {
    padding: 10px 0px 10px 0px;
}


.create-btn {
    display: flex;
    align-self: flex-end;
}


@media(max-width: 750px) {
    .create-channel-container {
        padding: 20px;      
        gap: 10px;
    }
}