.create-channel-container {
    padding: 20px;
}



button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.create-channel-input {
    width: 80%;


    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__leading

    .mdc-notched-outline__trailing {
        border-radius: 50% !important;
    }
}