<div class="background-container">
<div class="signup-page-container">
    <div class="logo-content-normal">
        <img src="./assets/img/logo+text.png">
    </div>
    
    <mat-card>
        <mat-card-header>
            <mat-card-title>Konto erstellen</mat-card-title>
            <mat-card-subtitle>Mit deinem Namen und deiner E-mail-Adresse hast <br> du dein neues
                DABubble-Konto.</mat-card-subtitle>
        </mat-card-header>

        <form [formGroup]="signUpForm" (ngSubmit)="submit()">
            <mat-form-field appearance="outline" class="full-width register-outline-field">
                <mat-icon matIconPrefix class="material-icons-outlined">person</mat-icon>
                <input matInput placeholder="Name und Nachname" formControlName="name" type="text" style="
                color: black !important;">
                <mat-error *ngIf="signUpForm.get('name')?.hasError('required')">Name eingeben</mat-error>
                <mat-error *ngIf="signUpForm.get('name')?.hasError('minlength')">Mindestens 3 Zeichen eingeben</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width register-outline-field">
                <mat-icon matIconPrefix class="material-icons-outlined">mail</mat-icon>
                <input matInput placeholder="beispiel@email.com" formControlName="email" type="email" style="
                color: black !important;">
                <mat-error *ngIf="signUpForm.get('email')?.hasError('required')">Email eingeben</mat-error>
                <mat-error *ngIf="signUpForm.get('email')?.hasError('email')">Richtige Email eingeben</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width register-outline-field">
                <mat-icon matIconPrefix class="material-icons-outlined">lock</mat-icon>
                <input matInput placeholder="Password" formControlName="password" type="password" style="
                color: black !important;">
                <mat-error *ngIf="signUpForm.get('password')?.hasError('required')">Password eingeben</mat-error>
                <mat-error *ngIf="signUpForm.get('password')?.hasError('minlength')">Mindestens 6 Zeichen eingeben</mat-error>
            </mat-form-field>

            <section class="section-checkbox">
                <mat-checkbox class="example-margin" formControlName="agreement">Ich stimme die <a
                        href="#">Datenschutzerklärungen</a> zu</mat-checkbox>
            </section>

            <div class="button-box">
                <button type="submit" mat-fab extended color="primary" [disabled]="signUpForm.invalid">Weiter</button>
            </div>

        </form>

        <div class="arrow-back">
            <button class="basic-button close-btn" [routerLink]="'/login'"><mat-icon>arrow_back</mat-icon></button>
        </div>

    </mat-card>


    <div class="legals">
        <div routerLink="/imprint">Impressum</div>
        <div routerLink="/data-privacy">Datenschutz</div>
    </div>

</div>

</div>