<input (click)="openSearchOutput($event)" (keyup)="searchData()" [(ngModel)]="search"
    placeholder="{{isMobile ? 'Gehe zu' : 'Code learning durchsuchen'}}"
    [ngStyle]="{ 'width.px': isMobile ? 160 : 'auto' }">
<img src="assets/img/search.png">
<div [ngStyle]="{'display': searchOutput ? 'block' : 'none'}"
    *ngIf="filteredChannel?.length > 0 || filteredUser?.length > 0 || filteredMessages?.length > 0"
    class="search-output-header"  appClickOutside (clickOutside)="closeSearch()">
    <div class="user-box" *ngIf="filteredUser.length > 0">
        <div class="user" *ngFor="let user of filteredUser" (click)="openProfileDialogInSearch(user); deleteSearch()">
            <img src="{{user.photoURL}}" alt="">
            <span>{{user.name}}</span>
        </div>
    </div>
    <div class="channel-box" *ngIf="filteredChannel.length > 0">
        <div class="channel" *ngFor="let channel of filteredChannel" [routerLink]="['channel/' + channel.channelId]"
            (click)="deleteSearch()">
            <span><mat-icon>tag</mat-icon>{{channel.channelName}}</span>
        </div>
    </div>
    <div class="message-box" *ngIf="filteredMessages.length > 0">
        <div class="message" *ngFor="let message of filteredMessages" (click)="onMessageSelect(message.messageId); deleteSearch()">
            <img src="{{message.user.photoURL}}" alt="image of the user" (click)="openProfileDialogInSearch(message.user); deleteSearch()">
            <div class="message-container">
                <div class="message-content module line-clamp">
                    <span>{{message.text}}</span>
                    <img class="file-upload-logo" *ngIf="message.fileUpload.length !== 0" src="assets/img/file.png" alt="">
                </div>
                <div class="message-info">
                    <span>{{message.user.name}}</span>
                    •
                    <span>{{formatTimestamp(message.time)}}</span>
                </div>
            </div>
        </div>
    </div>
</div>