header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 50px);
  height: 70px;
  background-color:#ECEEFE;
  padding: 25px;
}

.logo {
  height: 50px;
  object-fit: cover;
}

.search-box {
  height: 50px;
  width: 400px;
  border-radius: 42px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
  font-size: 24px;
  font-weight: 400;

  input {
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    width: 345px;
  }

  img {
    width: 25px;
  }
}

.profil-box {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}

.profil-name {
  margin-right: 8px;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 8px;
}

.arrow-down {
  width: 20px;
  height: 20px;
}

.toolbar {
  background-color:#ECEEFE;
}

mat-drawer {
  height: 300px;
}

.mat-drawer-container {
  height: 100vh;
  background-color:#ECEEFE;
}

.mat-drawer-box {
  width: 100%;
  position: relative;
}

.menu-icon {
  cursor: pointer;
}

.sidenav {
  width: 240px;
}

.toggle-sidenav {
  position: absolute;
  width: 50px;
  background-color: blue;
  left: 0;
  top: 300px;
}

.toggle-box {
  width: 60px;
  height: 347px;
  background-color: white;
  border-radius: 0 30px;
  position: relative;

  img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 24px;
    left: 10px;
  }
}

.toggle-text {
  color: black;
  transform: rotate(-90deg);
  margin-top: 234px;
  margin-bottom: 61px;
}

mat-toolbar, mat-toolbar-row {
  min-height: 56px;
  height: 56px;
}

mat-toolbar {
  position: relative;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;

  li {
    padding-left: 20px;
    padding-right: 20px;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    &:hover {
      background-color: rgba(0,0,0,0.04);
    }

    &:focus {
      outline: none;
    }

    mat-icon {
      margin-right: 16px;
    }
  }
}
