<section>
    <header>
        <div class="direct_message_info_box">
            <span>Neue Nachricht</span>
            <div class="input_container">
                <input (keyup)="searchUsersAndChannels()" [(ngModel)]="search"
                    placeholder="An: #channel, oder @jemand oder E-Mail Adresse" type="text">
                <div *ngIf="search" class="searchOutput">
                    <div class="userBox">
                        <h3 class="headline" *ngIf="filteredUser.length > 0">User</h3>
                        <div class="user" *ngFor="let user of filteredUser" (click)="selectReceiver(user)">
                            <img src="assets/img/avatar/{{user.photoURL}}" alt="">
                            <span>{{user.name}}</span>
                        </div>
                    </div>
                    <div class="channelBox">
                        <h3 class="headline" *ngIf="filteredChannel.length > 0">Channel</h3>
                        <div class="channel" *ngFor="let channel of filteredChannel" (click)="selectReceiver(channel)">
                            <span># {{channel.channelName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="input_message_container">
        <textarea [(ngModel)]="text" placeholder="Starte eine neue Nachricht"></textarea>
        <div class="control_container">
            <div class="chat_action_box">
                <mat-icon class="action_btn_style">add</mat-icon>
                <hr>
                <mat-icon class="action_btn_style">sentiment_satisfied</mat-icon>
                <mat-icon class="action_btn_style">alternate_email</mat-icon>
            </div>
            <button [disabled]="text.length == 0" (click)="sendMessage()"><mat-icon
                    class="send_btn">send</mat-icon></button>
        </div>
    </div>
</section>