<div class="invitation-dialog-container">
    <div *ngIf="drawerService.isMobile && !openingInChat" class="rectangle-container">
        <div class="rectangle"></div>
    </div>
    <div class="headline">
        <h2>Leute hinzufügen</h2>
        <button *ngIf="drawerService.isMobile" class="basic-button close-btn"
            (click)="closeAddPeopleDialog()"><mat-icon>close</mat-icon></button>
        <button *ngIf="!drawerService.isMobile" class="basic-button close-btn"
            (click)="closeDialog()"><mat-icon>close</mat-icon></button>
    </div>
    <div class="channel-name"><mat-icon>tag</mat-icon>{{channel.channelName}}</div>
    <form class="width-100">
        <mat-form-field class="member-input" appearance="outline">
            <mat-chip-grid #chipGrid aria-label="Benutzer auswählen">
                <mat-chip-row class="chip-row" *ngFor="let user of users" (removed)="remove(user.name)">
                    <div class="user-chip">
                        <img src="{{user.photoURL}}">
                        <div>{{user.name}}</div>
                    </div>
                    <button class="remove-btn" matChipRemove [attr.aria-label]="'remove ' + user.name">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-chip-row>
            </mat-chip-grid>
            <input [placeholder]="usersNotInChannel.length === 0 ? 'Bereits alle Nutzer im Channel' : 'Name eingeben'"
                #userInput [formControl]="userCtrl" [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)"
                (input)="validateInput()" />

            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" class="user-chip-menu">
                <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                    <div class="user-chip-search">
                        <img src="{{user.photoURL}}">
                        <div>{{user.name}}</div>
                    </div>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
    <button class="create-btn" mat-fab extended color="primary" (click)="addUsers()"
        [disabled]="users.length === 0">Erstellen</button>
</div>