<div class="dashboard">
    <section class="message-section">
        <header>
            <div class="direct-message-info-box">
                <span>Neue Nachricht</span>
                <div class="input-container">
                    <input (click)="openSearchOutput($event)" (keyup)="searchData()" [(ngModel)]="search"
                        placeholder="An: #channel, oder @jemand oder E-Mail Adresse" type="text">
                    <div [ngStyle]="{'display': searchOutput ? 'block' : 'none'}"
                        *ngIf="filteredChannel?.length > 0 || filteredUser?.length > 0" class="search-output"
                        appClickOutside (clickOutside)="closeSearch()">
                        <div class="user-box" *ngIf="filteredUser.length > 0">
                            <div class="user" *ngFor="let user of filteredUser" (click)="selectReceiver(user)">
                                <img src="{{user.photoURL}}" alt="">
                                <span>{{user.name}}</span>
                            </div>
                        </div>
                        <div class="channel-box" *ngIf="filteredChannel.length > 0">
                            <div class="channel" *ngFor="let channel of filteredChannel"
                                (click)="selectReceiver(channel)">
                                <span><mat-icon>tag</mat-icon>{{channel.channelName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="input-message-container">
            <textarea [(ngModel)]="text" placeholder="Starte eine neue Nachricht" (keyup)="sendByKey($event)" (keydown)="sendByKey($event)"></textarea>
            <div class="control-container">
                <div class="chat-action-box">
                    <div class="file-upload-button">
                        <label for="fileUpload">
                            <mat-icon class="action-btn-style">add</mat-icon>
                        </label>
                        <input type="file" style="display:none;" id="fileUpload" (change)="onUpload($event)">
                    </div>
                    <hr>
                    <mat-icon (click)="toggleEmoji()" class="action-btn-style">sentiment_satisfied</mat-icon>
                    <app-emoji-picker *ngIf="isOpened" (emojiSelectedEvent)="addEmoji($event)"></app-emoji-picker>
                    <mat-icon (click)="openTagMenu()" class="action-btn-style">alternate_email</mat-icon>
                    <div *ngIf="fileUpload" class="file-to-upload">
                        <mat-icon (click)="onDelete(fileUpload.path)" class="delete-btn">close</mat-icon>
                        <img style="height: 45px;" src="{{fileType}}" alt="">
                    </div>
                    <div class="tag-menu-outer-container">
                        <div *ngIf="showTagMenu" class="tag-menu-inner-container">
                            <div class="user" *ngFor="let user of allUsers" (click)="tagUser(user.name)">
                                <img src="{{user.photoURL}}" alt="">
                                <span>{{user.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <button [disabled]="text.length == 0 || search.length <= 0" (click)="send()"><mat-icon
                        [ngStyle]="{'color' : text.length == 0 || search.length <= 0 ? 'grey' : '#535AF1'}"
                        class="send-btn">send</mat-icon></button>
            </div>
        </div>
    </section>
</div>