<div class="background-container">
    <div class="verification-email-container">
        <div class="logo-content-normal">
            <img src="./assets/img/logo+text.png">
        </div>

        <mat-card>
            <div>
                <h1>bitte verifizieren Sie Ihre E-Mail.</h1>
                <span>
                    Sie sind fast da! Wir haben eine E-Mail an {{ userEmail }} gesendet. <br>
                    Klicken Sie einfach auf den Link in dieser E-Mail, um Ihre Anmeldung abzuschließen. <br>
                    Wenn Sie ihn nicht sehen, müssen Sie möglicherweise Ihren Spam-Ordner überprüfen.
                </span>
            </div>
        </mat-card>

    </div>
</div>