.start-screen {
    position: absolute;
    top: 0px;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
    animation: fadeOut 2.55s ease-in 3.05s forwards;

    .logo-and-text {
        top: 50%;
        left: 50%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        animation: onLeftTop 1.5s ease-in 2s forwards;
        transform: translate(-50%, -50%);
    }

    .moving-logo {
        height: 150px;
        width: 150px;
        animation: shrinkLogo 1.5s ease-in 2s forwards;
    }

    .title {
        z-index: 1100;
        font-size: 64px;
        font-weight: 700;
        color: white;
        display: inline-block;
        width: 0%;
        overflow: hidden;
        animation: textInFirst 1s ease-in 1s forwards, textInSecond 1s ease-in 2s forwards;
    }
}

@keyframes shrinkLogo {
    from {
        height: 150px;
        width: 150px;
    }

    to {
        height: 85px;
        width: 85px;
    }
}


@keyframes textInFirst {
    from {
        width: 0%;
        font-size: 64px;
        color: white;
    }

    to {
        width: 100%;
        font-size: 64px;
        color: white;
    }


}

@keyframes textInSecond {
    from {
        font-size: 64px;
        color: white;
        width: 100%;
    }

    to {
        font-size: 32px;
        color: black;
        width: 100%;
    }
}


@keyframes onLeftTop {
    from {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    to {
        transform: translate(0%, 0%);
        top: 5%;
        left: 5%;
    }
}


@keyframes fadeOut {
    from {

        opacity: 1;
    }

    to {

        opacity: 0;
    }


}




@media (max-width: 750px) {

    .start-screen {

        .logo-and-text {
            top: 50%;
            left: 50%;
            animation: onLeftTopSmall 1.5s ease-in 2s forwards;
        }
        .moving-logo {
            width: 125px;
            height: 125px;
        }
        .title {
            font-size: 38px
        }
    }


    @keyframes onLeftTopSmall {
        from {
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
    
        to {
            transform: translate(-50%, -50%);
            top: 9.5%; /* Only moving it up */
            left: 50%;
        }
    }
    
}


@media (max-width: 400px) {


    .start-screen {

        .logo-and-text {
            top: 50%;
            left: 50%;
            animation: onLeftTopSmall 1.5s ease-in 2s forwards;
        }
        .moving-logo {
            width: 100px;
            height: 100px;
        }
        .title {
            font-size: 30px
        }
    }



   
}