@import "../../../../styles.scss";


.invitation-dialog-container {
    padding: 40px;
    height: auto;
    @include flex-column;

    .flex-column {
        @include flex-column
    }
}


.rectangle-container {
    .rectangle {
        border-radius: 23px;
        background: #D9D9D9;
        width: 62px;
        height: 6px;
    }

    width: 100%;
    display: flex;
    justify-content: center;
}


.headline {
    @include flex-between;
}


.channel-name {
    color: var(--Purple-2, #797EF3);
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}




.member-input {
    width: 434px;
}


.mat-form-field {
    width: 90%;
}


.create-btn {
    display: flex;
    align-self: flex-end;
    justify-self: baseline;
}


.mdc-list-item__primary-text {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}


.mdc-list-item__primary-text {
    display: flex !important;
    align-items: center !important;
}


.remove-btn {
    min-width: 40px;
}


.chip-row {
    .user-chip {
        display: flex;
        align-items: center;
    }
}


img {
    height: 20px;
    width: 20px;
    margin-right: 8px;
    border-radius: 50%;
}


.user-chip-search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 8px;
    border-radius: 30px;
    cursor: pointer;

    &:hover {
        background-color: #ECEEFE;
    }
}


.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
    background-color: transparent !important;
}


@media(max-width: 750px) {
    .member-input {
        width: 100%;
    }
}