<div class="resetPasswordPage-Container">
    <div class="logoContent-normal">
        <img src="./assets/img/logo+text.png">
    </div>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Password zurücksetzen</mat-card-title>
        </mat-card-header>
        <form [formGroup]="resetPasswordForm">

            <mat-form-field appearance="outline" class="fullWidth custom-outline-field">
                <input matInput placeholder="Neues Passwort" formControlName="password" type="password" style="
                color: black !important;">
                <mat-error>password eingeben</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="fullWidth custom-outline-field">
                <input matInput placeholder="Neues Kennwort bestätigen" formControlName="confirmPassword" type="password" style="
                color: black !important;">
                <mat-error>password eingeben</mat-error>
            </mat-form-field>

            <div class="buttonBox">
                <button class="changePWBtn">Password ändern</button>
            </div>

            <div class="arrow-back">
                <img src="assets/img/arrow_back.png" [routerLink]="'/login'">
            </div>

        </form>

    </mat-card>

    <div class="legals">
        <div routerLink="/impressum">Impressum</div>
        <div>Datenschutz</div>
    </div>

</div>
