<div class="background-container">
<div class="reset-password-page-container">
    <div class="logo-content-normal">
        <img src="./assets/img/logo+text.png">
    </div>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Password zurücksetzen</mat-card-title>
        </mat-card-header>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <!--register-outline-field-->
            <mat-form-field appearance="outline" class="full-width resetPassword-input-field">
                <input matInput placeholder="Neues Passwort" formControlName="password" type="password" style="
                color: black !important;">
                 <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('required')">Passwort eingeben</mat-error>
                 <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('minlength')">Mindestens 6 Zeichen eingeben</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width resetPassword-input-field">
                <input matInput placeholder="Passwort bestätigen" formControlName="confirmPassword" type="password" style="
                color: black !important;">
                <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">Passwort eingeben</mat-error>
                <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('minlength')">Mindestens 6 Zeichen eingeben</mat-error>
                <mat-error *ngIf="resetPasswordForm.hasError('passwordsDontMatch')">Die Passwörter stimmen nicht überein</mat-error>
            </mat-form-field>

            <div class="button-box">
                <button class="change-pw-btn" type="submit" [disabled]="resetPasswordForm.invalid">Password ändern</button>
            </div>

      
            <button class="basic-button close-btn" [routerLink]="'/login'">
                <mat-icon>close</mat-icon>
            </button>

        </form>

    </mat-card>

    <div class="legals">
        <div routerLink="/imprint">Impressum</div>
        <div routerLink="/data-privacy">Datenschutz</div>
    </div>

</div>
</div>