.resetPasswordPage-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    background-color: #ECEEFE;
    position: relative;
}

mat-card {
    width: 698px;
    height: 469px;
    flex-shrink: 0;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 90px;
    background-color: #FFF;
    gap: 40px;
    display: inline-flex;

}

mat-card-header {
    text-align: center;
    color: #444DF2;
    --mat-card-title-text-size: 40px;

    mat-card-title {
        margin-bottom: 33px;
    }
}

.fullWidth {
    width: 100%;
}

form {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;


    /*mat-form-field.mat-form-field-appearance-outline {
        background-color: #ECEEFE;
    }*/
    /*
    ::ng-deep .mdc-notched-outline>* {
        border-color: #ECEEFE !important;
        background-color: rgb(236, 238, 254, 0.3) !important;
    }

    ::ng-deep .mdc-text-field--focused .mdc-notched-outline>* {
        border-color: lightgray !important;
        
    }

    ::ng-deep .mdc-text-field--invalid .mdc-notched-outline>* {
        border-color: rgb(183, 22, 22) !important;
    }

    ::ng-deep .mdc-notched-outline {
        border-radius: 15px;
    }


    ::ng-deep .custom-field .mat-form-field-flex {
        height: 10px;
    }

    ::ng-deep .custom-field .mat-form-field-flex .mat-form-field-outline-end {
        border-radius: 0 25px 25px 0;
        
    } 

    ::ng-deep .custom-field .mat-form-field-flex .mat-form-field-outline-start {
        border-radius: 25px 0 0 25px;
        width: 25px !important;
        padding: 18px 32px !important;
    }*/

    input {
        padding-left: 32px;
    }

    .input-field-container {
        width: 100%;
        height: 60px;
        border-radius: 25px;
        border: none;
        outline: none;
        background-color: #ECEEFE;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 18px 32px;
        gap: 30px;


        input {
            outline: none;
            border: none;
            background-color: #ECEEFE;
            width: 100%;
        }
    }


    .buttonBox {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 30px;

        .changePWBtn {
            width: 170px;
            height: 49px;
            border-radius: 25px;
            padding: 12px 25px;
            background-color: #686868;
            border: none;
            cursor: pointer;
            color: white;

            &:hover {
                filter: opacity(70%);
            }
        }
    }


    .buttonBox {
        display: flex;
        justify-content: flex-end;
    }

    .arrow-back {
        position: absolute;
        top: 45px;
        left: 32px;
        cursor: pointer;
        border-radius: 20%;
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        &:hover {
            background-color: rgba(0, 0, 0, 0.15);
        }
    }

}

/*Logo image after animation*/
.logoContent-normal {
    position: absolute;

    left: 50px;
    top: 30px;
    display: flex;

    img {
        height: 70px;
        width: auto;
        object-fit: cover;
        position: relative;
    }
}

.legals {
    flex-shrink: 0;
    position: absolute;
    bottom: 48px;
    display: flex;
    gap: 16px;
    color: #A4A8F7;
    cursor: pointer;
}