<div class="user-profile-sub-view-container">
    <div class="profile-sub-view-header">
        <div mat-dialog-title>Profile</div>
        <button class="basic-button close-btn" (click)="this.dialog.closeAll();"><mat-icon>close</mat-icon></button>
    </div>
    <div class="profile-sub-view-img">
        <img class="profile-img" [src]="userPhotoURL" />
    </div>
    <div class="profile-sub-view-name">
        <div class="profile-edit-container">
            <div> {{ userName }} </div>
        </div>

        <div class="flex-row">
            <app-user-presence [userID]="userId"></app-user-presence>
            <ng-container *ngIf="presence$ | async as presence">
                <p *ngIf="presence.status === 'online'">Anwesend</p>
                <p *ngIf="presence.status === 'offline'">Abwesend</p>
                <p *ngIf="presence.status === 'away'">Beschäftigt</p>
            </ng-container>
        </div>
    </div>
    <div class="profile-sub-view-email">
        <p>E-Mail-Adresse</p>
        <a href=""> {{ userEmail }} </a>
    </div>

    <div mat-dialog-actions>
        <button class="hover-style" (click)="openChat()" mat-fab extended color="primary" [mat-dialog-close]="">
            <mat-icon>mode_comment</mat-icon>
            Nachricht
        </button>
    </div>
</div>