.all-profile-pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    div {
        height: 80px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: lightgray;
        }
    }

    img {
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 100%;

        &:hover {
            height: 53px;
            width: 53px;
            object-fit: cover;
        }
    }
}

.avatar-header {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    padding: 20px;

    h2{
        text-align: center;
    }
}