.avatar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    max-width: 1280px;
    min-height: 100vh;
    background-color: #ECEEFE;
    position: relative;

    @media(max-width: 650px) {
        flex-direction: column;
    }
}

.button-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


mat-card {
    width: 606px;
    height: max-content;
    flex-shrink: 0;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
    background-color: #FFF;

    .arrow-back {
        position: absolute;
        top: 45px;
        left: 32px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        @media(max-width: 650px) {
            top: 25px;
            left: 20px;
        }
    }

    @media(max-width: 650px) {
        width: 90%;
        margin: auto;
        padding: 10px 10px;
    }

    @media(max-width: 400px) {
        width: 100%;
        padding: 10px 10px;
    }
}

mat-card-title {
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: var(--Purple-1, #444DF2);

    @media(max-width: 650px) {
        font-size: 32px;
        width: 70%;
    }
}

.profile-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 120px;
    height: 120px;
    padding: 8px;
    border-radius: 100px;

    img {
        width: 110px;
        height: 110px;
        object-fit: cover;
        border-radius: 100px;
    }

    @media(max-width: 650px) {
        height: 120px;
        width: 120px;
        padding: 10px;

        img {
            height: 120px;
            width: 120px;
            object-fit: cover;
        }
    }

    @media(max-width: 400px) {
        width: 90px;
        height: 90px;

        img {
            height: 106px;
            width: 106px;
            object-fit: cover;
        }
    }
}

.avatar-content-box {
    margin-top: 10px;
    width: 472px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .new-user {
        box-sizing: border-box;
        width: 100%;
        color: #000;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .choose-info {
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .all-profile-pics {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        img {
            width: 64px;
            height: 64px;
            object-fit: cover;
            border-radius: 100%;
            padding: 4px;
            cursor: pointer;

            &:hover {
                background-color: lightgray;
            }

            @media(max-width: 650px) {
                width: 56px;
                height: 56px;
                object-fit: cover;
            }

            @media(max-width: 400px) {
                width: 40px;
                height: 40px;
                object-fit: cover;
            }
        }

        @media(max-width: 650px) {
            gap: 0;
            display: flex;
            flex-wrap: wrap;
        }
    }

    .own-pic {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 24px;

        .form-group {
            border: 1px solid rgb(129, 134, 244);
            color: #444DF2;
            padding: 12px 25px;
            text-align: center;
            border-radius: 25px;
            font-size: 18px;
            font-weight: 700;
            cursor: pointer;

            input {
                cursor: pointer;
            }

            label {
                cursor: pointer;
            }

            &:hover {
                background-color: lightgray;
            }

            @media(max-width: 650px) {
                font-size: 14px;
            }

        }
    }


    @media(max-width: 650px) {
        width: 100%;
    }

}

.legals {
    flex-shrink: 0;
    bottom: 48px;
    display: flex;
    gap: 16px;
    color: #A4A8F7;
    cursor: pointer;
    margin-top: 10px;

    @media(max-width: 650px) {
        display: none;
    }
}

.logo-content-normal {
    display: flex;
    width: 100vw;
    max-width: 1280px;
    justify-content: flex-start;
    margin-top: 15px;
    margin-bottom: 15px;

    img {
        height: 60px;
        width: auto;
        object-fit: cover;
        position: relative;
        margin-left: 75px;

        @media(max-width: 1040px) {
            margin-left: 0px;
        }

        @media(max-width: 560px) {
            margin-left: 0;
            margin-bottom: 0;
            height: 60px;
        }

        @media(max-width: 400px) {
            height: 41px;
        }
    }

    @media(max-width: 1040px) {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        margin-left: 0;
    }

    @media(max-width: 750px) {
        margin-bottom: 30px;
        margin-top: 30px;
        margin-left: 0;
    }

    @media(max-width: 650px) {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    @media(max-width: 400px) {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

.background-container {
    width: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #ECEEFE;
}