<div class="backgroundContainer">
<div class="avatarContainer">
    <div class="logoContent-normal">
        <img src="./assets/img/logo+text.png">
    </div>
    <mat-card>
        <mat-card-title>Wähle deinen Avatar</mat-card-title>

        <div class="avatarContentBox">
            <div class="profileImg" [ngStyle]="urlToSelectedAvatar ? { 'background-color': 'transparent' } : { 'background-color': '#797EF3' }">
                <img [src]="urlToSelectedAvatar ? urlToSelectedAvatar : 'assets/img/avatar/person.png'">
            </div>
            <div class="newUser"> Frederik Beck </div>
            <div class="chooseInfo">Aus der Liste wählen</div>

            <div class="allProfilePics">
                <div  *ngFor="let avatar of avatars" (click)="this.setNewPic(avatar)">
                    <img src="../assets/img/avatar/{{ avatar }}">
                </div>
            </div>

            <div class="ownPic">
                <span>Eigenes Bild anwenden</span>
                <div class="form-group"> 
                    <label for="file">Datei Hochladen</label>
                    <input
                    type="file"
                    id="file"
                    style="display: none;"
                    (change)="onSelect($event)"
                    >
                </div>
            </div>

            <div class="buttonBox">
                <button type="submit" (click)="this.saveNewPic(currentPic)">Weiter</button>
            </div>
            
        </div>

        <div class="arrow-back">
            <img src="assets/img/arrow_back.png" [routerLink]="'/login'">
        </div>
    </mat-card>

    <div class="legals">
        <div routerLink="/imprint">Impressum</div>
        <div routerLink="/data-privacy">Datenschutz</div>
    </div>

    
</div>
</div>