<header>
  <div class="logo-search-box">
    <img class="logo" src="../assets/img/logo+text.png">
    <div class="search-box">
      <input placeholder="Code learning durchsuchen">
      <img src="../assets/img/search.png">
    </div>
  </div>
  <div class="profil-box">
    <span class="profil-name">Frederik Beck</span>
    <img class="avatar" src="../assets/img/avatar/avatar6-online.png">
    <button mat-icon-button [matMenuTriggerFor]="menu"><img class="arrow-down"
        src="../assets/img/arrow-down.png"></button>
  </div>
  <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openUserProfile()">
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="userLoggedout()">
        <span>Logout</span>
      </button>
  </mat-menu>
</header>