<header>
  <div class="logo-search-box">
    <img class="logo" src="../assets/img/logo+text.png">
    <div class="search-box">
      <input (keyup)="searchData()" [(ngModel)]="search" placeholder="Code learning durchsuchen">
      <img src="../assets/img/search.png">
      <div *ngIf="filteredChannel?.length > 0 || filteredUser?.length > 0" class="searchOutput">
        <div class="userBox" *ngIf="filteredUser.length > 0">
          <div class="user" *ngFor="let user of filteredUser" (click)="openProfil(user)">
            <img src="assets/img/avatar/{{user.photoURL}}" alt="">
            <span>{{user.name}}</span>
          </div>
        </div>
        <div class="channelBox" *ngIf="filteredChannel.length > 0">
          <div class="channel" *ngFor="let channel of filteredChannel" (click)="openChannel(channel)">
            <span><mat-icon>tag</mat-icon>{{channel.channelName}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="profil-box" *ngIf="this.userFbService.loggedInUserID">
    <span class="profil-name">{{ this.userFbService.loggedInUserName}}</span>
    <div class="alignRight" style="position: relative;">
      <img class="avatar" src="../assets/img/avatar/{{ this.userFbService.loggedInUserImg }}">
      <img class="status" src="assets/img/Online.png" *ngIf="this.userFbService.loggedInUserID" style="position: absolute !important;
      bottom: 2px !important;
      right: 5px !important;">
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <img class="arrow-down" src="../assets/img/arrow-down.png"></button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openUserProfile()">
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="userLoggedout()">
      <span>Logout</span>
    </button>
  </mat-menu>
</header>