@import "../../../../styles.scss";


.close-user-menu {
    padding: 40px;
}

div {
    font-size: 18px;
}

.add-user-btn {
    color: var(--Black, #000);
    font-family: 'Nunito';
    font-size: 18px;
    padding-top: 27px;
    padding-inline: 0px !important;
    transition: transform 500ms ease-in, color 500ms ease-in;

    &:hover {
        transform: scale(1.1);
        color: #535AF1;
    }
}


.scrollable-users-list {
    height: 200px;
    overflow-y: scroll; 
}

.close-user-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

h3 {
    color: var(--Black, #000);
    font-family: 'Nunito';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.close-btn {
    display: flex;
    align-self: flex-end;
}

.profil-icon {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 10px;
}

.online-status {
    width: 12px;
    height: 12px;
    object-fit: cover;
    position: relative;
    left: -15px;
    top: 9px;
}

.users-list {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.user-in-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    cursor: pointer;
}

app-user-presence {
    position: absolute;
    left: 25px;
    bottom: 0;
}

.add-user {
    height: 36px;
    width: 36px;
    background-color: #ECEEFE;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 16px;

    mat-icon {
        color: black;
        font-size: 20px;

    }
}

@media(max-width: 450px) {

    .close-user-menu {
        padding: 20px;
    }
}