<div class="close-user-menu">
    <div class="close-user-menu-header">
        <h3>Mitglieder</h3>
        <button class="basic-button close-btn" *ngIf="!isMobile" (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="users-list scrollable-users-list">
        <div *ngFor="let user of this.channel.usersData" class="user-in-list">
            <img class="profil-icon" src="{{ user.photoURL }}">
            <!-- <img *ngIf="user.isOnline" class="online-status" src="assets/img/Online.png">
            <img *ngIf="!user.isOnline" class="online-status" src="assets/img/Offline.png"> -->
            <app-user-presence [mini]="true" [userID]="user.id"></app-user-presence>
            <div>{{user.name}}</div>
        </div>
    </div>
    <button class="add-user-btn basic-text-button" (click)="addUserDialog()">
        <div class="add-user" >
            <mat-icon class="material-icons-outlined">person_add_outline</mat-icon>
        </div>
        <div>Mitglieder hinzufügen</div>
    </button>
</div>