<div class="thread-container">
    <header>
        <h2>Thread</h2>
        <button class="basic-button close-btn" (click)="this.threadService.closeThread()">
            <mat-icon>close</mat-icon>
        </button>
    </header>
    <main>
        <div class="avatar-message-container">
            <img class="avatar" src="{{ message.user.photoURL }}" alt="">
            <div class="message-time">
                <div class="name-time">
                    <h3>{{ message.user.name }}</h3>
                    <span>{{getTimeOfDate(message.time)}} Uhr</span>
                </div>
                <div class="message-bubble">
                    {{message.text}}
                </div>
            </div>
        </div>
        <div class="divider">
            <div>Antworten</div>
            <mat-divider></mat-divider>
        </div>
        <app-message *ngFor="let thread of getAllReplies()" [message]="thread" [messageId]="message.messageId"></app-message>
        <div class="input-message-container">
            <textarea  [(ngModel)]="text" #myTextarea placeholder="Antworten..."></textarea>
            <div class="control-container">
                <div class="chat-action-box">
                    <mat-icon class="action-btn-style">add</mat-icon>
                    <hr>
                    <mat-icon (click)="toggleEmoji()" class="action-btn-style">sentiment_satisfied</mat-icon>
                    <app-emoji-picker *ngIf="isOpened" (emojiSelectedEvent)="addEmoji($event)"></app-emoji-picker>
                    <mat-icon (click)="openTagMenu()" class="action-btn-style">alternate_email</mat-icon>
                    <div class="tag-menu-outer-container">
                        <div *ngIf="showTagMenu" class="tag-menu-inner-container">
                            <div class="user" *ngFor="let user of allUsers" (click)="tagUser(user.name)">
                                <img src="{{user.photoURL}}" alt="">
                                <span>{{user.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <button (click)="sendReplyTo(message.origin)"><mat-icon class="send-btn">send</mat-icon></button>
            </div>
        </div>
    </main>
</div>