<div class="thread-container">
    <header>
        <h2>Thread</h2>
        <button class="basic-button close-btn" (click)="this.threadService.closeThread()">
            <mat-icon>close</mat-icon>
        </button>
    </header>
    <main #scroller>
        <div class="avatar-message-container">
            <img class="avatar" src="{{ userThread.photoURL }}" alt="">
            <div class="message-time">
                <div class="name-time">
                    <h3>{{ userThread.name }}</h3>
                    <span>{{getTimeOfDate(message.time)}} Uhr</span>
                </div>
                <div *ngIf="!this.isEmptyOrWhitespace(message.text)" class="message-bubble">
                    {{message.text}}
                </div>
                <div *ngIf="message.fileUpload !== []" class="show-attachement">
                    <a href="{{!isPDF ? imageFile?.url : pdfFile?.url}}" target="_blank"><img src="{{!isPDF ? imageFile?.url : 'assets/img/icons/pdf.png'}}"  [ngStyle]="{'max-width': !isPDF ? '150px' : '64px', 'width': '100%'}"></a>
                </div>
            </div>
        </div>
        <div class="divider">
            <div>Antworten</div>
            <mat-divider></mat-divider>
        </div>
        <app-message  *ngFor="let thread of getAllReplies(); trackBy: trackByFunction" [message]="thread" [parentMessageId]="parentMessageId" [collPath]="collPath" [allUsers]="allUsers"></app-message>
        <app-scroll-button [ngStyle]="{'opacity': !isElementVisible ? '1' : '0'}" (EmitScrollDown)="scrollDown()" [chatData]="{collPath: collPath}"></app-scroll-button>
        <div class="input-message-container">
            <textarea [(ngModel)]="text" (ngModelChange)="checkForTag()" #myTextarea placeholder="Antworten..." (keyup)="sendByKey($event)" (keydown)="sendByKey($event)"></textarea>
            <div class="control-container">
                <div class="chat-action-box">
                    <div class="file-upload-button">
                        <label for="fileUploadThread">
                            <mat-icon class="action-btn-style">add</mat-icon>
                        </label>
                        <input type="file" style="display:none;" id="fileUploadThread" (change)="onUploadThread($event)">
                    </div>
                    <hr>
                    <mat-icon (click)="toggleEmoji($event)" class="action-btn-style">sentiment_satisfied</mat-icon>
                    <app-emoji-picker *ngIf="isOpened" (emojiSelectedEvent)="addEmoji($event)" appClickOutside (clickOutside)="closeEmojiMenu()"></app-emoji-picker>
                    <mat-icon appClickOutside (clickOutside)="closeTagMenu()" (click)="toggleTagMenu('@')" class="action-btn-style">alternate_email</mat-icon>
                    <div *ngIf="fileUploadThread" class="file-to-upload">
                        <mat-icon (click)="onDelete(fileUploadThread.path)" class="delete-btn">close</mat-icon>
                        <img style="height: 45px;" src="{{fileTypeThread}}" alt="">
                    </div>
                    <div class="tag-menu-outer-container">
                        <div *ngIf="showTagMenu" class="tag-menu-inner-container">
                            <div class="user" *ngFor="let user of filteredUsers" (click)="tagUser(user.name)">
                                <img src="{{user.photoURL}}" alt="">
                                <span>{{user.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <button [disabled]="this.isEmptyOrWhitespace(text) && fileTypeThread === ''" (click)="sendReplyTo()"><mat-icon [ngStyle]="{'color' : this.isEmptyOrWhitespace(text) && fileTypeThread === '' ? 'grey' : '#535AF1'}" class="send-btn">send</mat-icon></button>
            </div>
        </div>
        <div #endScrollElement></div>
    </main>
</div>