<header>
    <h2>Thread</h2>
    <button class="basic-button close-btn" (click)="this.threadService.closeThread()">
        <mat-icon>close</mat-icon>
    </button>
</header>
<main>
    <div class="avatar-message-container">
        <img class="avatar" src="{{ message.user.photoURL }}" alt="">
        <div class="message-time">
            <div class="name-time">
                <h3>{{ message.user.name }}</h3>
                <span>{{getTimeOfDate(message.time)}} Uhr</span>
            </div>
            <div class="message-bubble">
                {{message.text}}
            </div>
        </div>
    </div>
    <div class="divider">
        <div>Antworten</div>
        <mat-divider></mat-divider>
    </div>
    <app-thread-chat></app-thread-chat>
</main>