* {
    box-sizing: border-box;
}

.closed-main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profil-icon {
    position: relative;
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 10px;
}

app-user-presence {
    position: absolute;
    left: 45px;
    bottom: 0;
}

.users-list {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.user-in-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.date-border {
    width: 95%;
    margin: auto;
}

.message-date {
    position: relative;
    text-align: center;
    margin: 20px 0;


    &::after {
        content: '';
        position: absolute;
        top: 50%;
        width: 100%; // Adjust the width as needed
        height: 1px;
        background-color: #ADB0D9; // Adjust the color as needed
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }

    // This centers the date and gives it a background to overlap the lines
    span {
        background: #fff; // The background color of your choice
        position: relative;
        z-index: 1;
        border: 1px solid #ADB0D9;
        border-radius: 30px;
        padding: 5px 15px;
    }
}

.dashboard {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.message-section {
    background-color: white;
    border-radius: 30px;
    position: relative;
    width: 100%;
}

.mgn-l {
    margin-left: 20px;
}


.thread-section {
    background-color: white;
    border-radius: 30px;
    position: relative;
}


// HEADER SECTION

header {
    padding: 20px 45px 20px 45px;
    box-shadow: 0px 2px 10px 0px #00000014;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.tag {
    font-style: italic;
    font-weight: 600;
}


.channel-info-box {
    padding: 6px 10px 6px 10px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 120ms ease-in;

    span,
    mat-icon {
        font-size: 22px;
        font-weight: 500;
        color: black;
        transition: color 120ms ease-in;
    }

    &:hover {
        background-color: #ECEEFE;

        span,
        mat-icon {
            color: #535AF1;
        }
    }
}

.user-channel-info-box {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-in-channel-box {
    padding: 3px 10px 3px 10px;
    height: 36px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 120ms ease-in;

    &:hover {
        background-color: #ECEEFE;

        .user-amount-box {
            color: #535AF1;
        }
    }
}

.user-avatar-box {
    position: relative;
    height: 36px;
    width: 86px;

    img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        border: 2px solid white;
        position: absolute;
    }
}

.user-amount-box {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: black;
    height: 36px;
    transition: color 120ms ease-in;
}


.add-user {
    height: 36px;
    width: 36px;
    background-color: #ECEEFE;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    mat-icon {
        color: black;
        font-size: 20px;
        transition: transform 120ms ease-in, color 120ms ease-in;
    }

    &:hover {

        mat-icon {
            transform: scale(1.1);
            color: #535AF1;
        }
    }
}

// INPUT MESSAGE SECTION

.input-message-container {
    position: absolute;
    bottom: 25px;
    border-radius: 20px;
    border: 1px solid #ADB0D9;
    padding: 20px;
    z-index: 2;
    background-color: white;
    width: 100%;
    margin: 0 20px 0 20px;
    width: calc(100% - 40px);


    &:hover {
        border: 1px solid #535AF1;
    }

    &:focus-within {
        border: 1px solid #535AF1;
    }

    textarea {
        border: unset;
        resize: none;
        width: 100%;
        min-height: 70px;
        max-height: 200px;
        font-family: 'Nunito';

        &:focus {
            outline: none;
        }
    }
}

.control-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        border: unset;
        background-color: transparent;
    }
}

.chat-action-box {
    display: flex;
    gap: 5px;
    align-items: center;
    position: relative;

    hr {
        margin: 0;
        min-height: 30px;
    }
}

.action-btn-style {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    cursor: pointer;
    transition: color 225ms ease-in-out, background-color 225ms ease-in-out;

    &:hover {
        background-color: #ECEEFE;
        color: #535AF1;
    }
}

.send-btn {
    color: #444DF2;
    cursor: pointer;
    transition: color 150ms ease-in-out;

    &:hover {
        color: #ADB0D9;
    }
}

main {
    max-height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 82px;
    bottom: 177px;
    padding-top: 20px;
    scroll-behavior: smooth;
}

app-emoji-picker {
    position: absolute;
    bottom: 50px;
}

// TAG USER SECTION

.tag-menu-outer-container {
    position: absolute;
    bottom: 130px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3019607843);
    background-color: white;
}

.tag-menu-inner-container {
    background: white;
    padding: 12px;
    max-height: 200px;
    min-width: 200px;
    overflow: scroll;
}

.user {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 4px 8px;
    border-radius: 30px;
    cursor: pointer;

    &:hover {
        background-color: #ECEEFE;
    }

    img {
        width: 25px;
        height: 25px;
        border-radius: 100%;
    }

    span {
        width: max-content;
    }
}

// FILE UPLOAD

.file-to-upload {
    cursor: pointer;

    &:hover {
        .delete-btn {
            display: flex !important;
        }
    }
}

.delete-btn {
    cursor: pointer;
    display: none !important;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 100%;
    background: grey;
    color: white;
    font-size: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px !important;
    height: 20px !important;
}

// MEDIA-QUERIES 

@media (min-width: 960px) {

    .thread-section {
        left: 0px;
    }
}


@media (max-width: 960px) {

    header {
        padding: 20px;
    }

    .channel-info-box span {
        font-size: 18px;
    }

    .thread-section {
        position: absolute;
        left: 0px;
        right: 0px;
        margin-right: 0;
        z-index: 5;
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 750px) {
    .message-section {
        margin: 0;
        border-radius: 0;
        height: 100%;
    }

    .user-in-channel-box {
        display: none;
    }

    .thread-section {
        border-radius: 0;
        margin-right: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@media (max-width: 500px) {

    header {
        height: 60px;
        padding: 10px 25px;
    }

    main {
        top: 60px;
    }
}