@use "../../../styles.scss";


h3 {
    font-size: 20px;
}




.mat-tree {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 13px;
}


.open-panel {
    transition: color 0.1s ease-in, transform 0.1s ease-in;

    &:hover {
        cursor: pointer;
        color: #535AF1;

        img {
            filter: brightness(0) saturate(100%) invert(30%) sepia(79%) saturate(1665%) hue-rotate(223deg) brightness(97%) contrast(95%);
        }
    }
}

.child-node {
    margin-left: 18px;

    div {
        font-size: 18px;
    }

    mat-icon {
        margin-right: 18px;
    }
}



.channel-headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
    color: black;
    width: 100%;

    img {
        width: 24px;
        height: 24px;
    }
}

.tag {
    font-style: italic;
    font-weight: 600;
}

.child-node-btn {
    display: flex;
    justify-content: flex-start;
    border-radius: 30px;

    &:hover {
        cursor: pointer;
        background-color: #ECEEFE;
        color: #535AF1;
    }
}

.main-node {
    width: 100%;
}

.channel-head {
    display: flex;
    align-items: center;
    gap: 12px;
}

.drop-down-icon {
    margin-right: 7px;
}

.channels-icon {
    margin-right: 5px;
    width: 22px;
}

.add-icon {
    width: 25px;

    &:hover {
        cursor: pointer;
    }
}

.channel {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0 20px 22px;
    padding: 4px 15px;
    color: #535AF1;
    font-size: 16px;
    font-weight: 500;
    background-color: #ECEEFE;
    border-radius: 20px;
    width: fit-content;

    &:hover {
        cursor: pointer;
    }
}

.other-groups {
    display: flex;
    align-items: center;

    mat-icon {
        margin-right: 16px
    }
}

.add-channel {
    display: flex;
    align-items: center;
    margin: 19px 0 19px 34px;
    font-size: 18px;
    font-weight: 500;
    color: black;
    transition: color 0.1s ease-in, transform 0.1s ease-in;

    &:hover {
        cursor: pointer;
        color: #535AF1;        
    }
}

.add-icon {
    height: 22px;
    width: 22px;
    margin-right: 16px;
}

.each-channel {
    font-family: Nunito;
}


.node[data-parent="Channel"] .tag {
    display: inline-block;
}

.node[data-parent="Channel"] .lock {
    display: none;
}

.node[data-parent="Weitere"] .tag {
    display: none;
}

.node[data-parent="Weitere"] .lock {
    display: inline-block;
}