@use "../../../styles.scss";


.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}


button {
    border: none;
    background-color: transparent;
}

.channels-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    color: black;

    :first-child {
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
            color: #535AF1;

            img {
                filter: brightness(0) saturate(100%) invert(30%) sepia(79%) saturate(1665%) hue-rotate(223deg) brightness(97%) contrast(95%);
            }
        }
    }
}

.drop-down-icon {
    margin-right: 7px;
}

.channels-icon {
    margin-right: 5px;
    width: 22px;
}

.add-icon {
    width: 25px;

    &:hover {
        cursor: pointer;
    }
}

.channel {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 22px;
    padding: 4px 15px;
    color: #535AF1;
    font-size: 16px;
    font-weight: 500;
    background-color: #ECEEFE;
    border-radius: 20px;
    width: fit-content;

    img {
        width: 19px;
        margin-right: 6px;
        margin-left: 2px;
    }

    &:hover {
        cursor: pointer;
    }
}

.add-channel {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 37px;
    font-size: 16px;
    font-weight: 500;
    color: black;

    span {
        margin-top: 2px;
    }

    &:hover {
        cursor: pointer;

        :first-child {
            color: #535AF1;
        }

        span {
            color: #535AF1;
        }
    }
}

.add-icon {
    height: 22px;
    width: 22px;
    margin-right: 5px;
}

