<div class="close-user-menu">
    <div class="close-user-menu-header">
        <h3>Mitglieder</h3>
        <button class="basic-button close-btn" (click)="closeCreateChannelDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="users-list">
        <div *ngFor="let user of this.channel.usersData" class="user-in-list">
            <img class="profil-icon" src="{{ user.photoURL }}">
            <img *ngIf="user.isOnline" class="online-status" src="assets/img/Online.png">
            <img *ngIf="!user.isOnline" class="online-status" src="assets/img/Offline.png">
            <div>{{user.name}}</div>
        </div>
    </div>
    <button class="add-user-btn basic-text-button">
        <div class="add-user" (click)="openPeopleUserDialog()">
            <mat-icon>person_add</mat-icon>
        </div>
        Mitglieder hinzufügen</button>
</div>