.main {
  padding: 20px 20px 25px 20px;
  background-color: #ECEEFE;
  height: calc(100vh - 45px);
  height: calc(100svh - 45px);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 25px);
  height: 50px;
  padding: 25px 0px 20px 25px;
}

.profile-search-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mat-mdc-menu-panel {
  padding: 30px !important;
}

.menu-btn {
  padding: 10px 70px;
}

.logo {
  height: 50px;
  object-fit: cover;
}

.open-menu {
  cursor: pointer;
}

app-search-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo-search-box {
  display: flex;
  align-items: center;
}

.left-side {
  display: flex;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.search-box {
  position: relative;
  height: 50px;
  width: 30vw;
  min-width: 250px;
  border-radius: 42px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
  font-size: 24px;
  font-weight: 400;
  margin-left: 130px;
}

.profil-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;

  .avatar {
    background-color: lightgray;
    border-radius: 100%;
  }

  /*
    .align-right {
      display: flex !important;
      justify-content: center;
      align-items: center;
      position: relative !important;
      box-sizing: border-box;
  
      .status {
        position: absolute !important;
        bottom: 2px !important;
        right: 5px !important;
      }
    }*/

}

.profil-name {
  margin-right: 12px;
}

.avatar {
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin-right: 8px;
}

.arrow-down {
  width: 20px;
  height: 20px;
}

.person-icon {
  border: 2px solid black;
  border-radius: 100%;
  width: 23px;
}

.rectangle-centered {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;

  @media(max-width: 450px) {
    margin-bottom: 35px;
  }
}

.hide-above-450px {
  display: none;
}

/* TODO mit ng deep werden alle Komponenten in dem Programm beeinflusst. Bitte noch eine Klasse davor setzen. :)  */
/* 
  ::ng-deep .cdk-overlay-pane>* {
    border-radius: 30px 0px 30px 30px !important;
    background: var(--White, #FFF) !important;
    padding: 30px !important;
  }
  
  ::ng-deep .mat-mdc-menu-content>* {
    width: 220px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: rgb(236,238,254);
    border-radius: 25px;
  }
   */

// SEARCH 

// .searchOutputHeader {
//   position: absolute;
//   left: 0;
//   top: 40px;
//   z-index: 5;
//   width: calc(100% - 41.5px);
//   height: fit-content;
//   max-height: 300px;
//   box-shadow: 0 4px 8px #0000004d;
//   background-color: white;
//   border-radius: 30px;
//   padding: 20px;
//   overflow-y: scroll;


//   img {
//     width: 40px;
//     height: 40px;
//     border-radius: 100%;
//   }
// }

// .user-box>.headline,
// .channelBox>.headline {
//   color: #535AF1;
//   margin-bottom: 16px !important;
// }

// .channel {

//   mat-icon {
//     font-weight: bold;
//     font-style: italic;
//     margin-left: 4px;
//   }

//   span {
//     display: flex;
//     align-items: center;
//     gap: 28px;
//     font-size: 18px;
//   }
// }

// .user {
//   display: flex;
//   align-items: center;
//   gap: 16px;
//   font-size: 18px;
// }

// .user,
// .channel {
//   padding: 4px 8px;
//   border-radius: 30px;
//   cursor: pointer;

//   &:hover {
//     background-color: #ECEEFE;
//   }
// }

// MEDIA QUERIES 

@media (max-width: 1050px) {

  .profil-name {
    display: none;
  }
}


@media (max-width: 850px) {

  .profil-box {
    button {
      display: none;
    }
  }
}


@media (max-width: 750px) {
  .logo-search-box {
    display: none;
  }

  .profile-search-container {
    justify-content: flex-end;
  }


  header {
    width: calc(100% - 50px);
    padding: 25px 25px 20px 25px;
  }


  .main {
    padding: 0px
  }
}


@media (max-width: 360px) {
  header {
    width: calc(100% - 20px);
    padding: 10px;
  }

  .main {
    height: 100vh;

  }
}