<div class="background-container">
    <div class="verification-email-container">
        <div class="logo-content-normal">
            <img src="assets/img/logo+text.png">
        </div>
        <mat-card>
            <div class="verify-message">
               Ihre Email wurde erfolgreich bestätigt. 
            </div>
            <span>In ein paar Sekunden werden Sie zur Login Seite geleitet.</span> 
            <button  [routerLink]="'/login'" mat-fab extended color="primary">
                Hier schnell zum Login
            </button>
        </mat-card>
    </div>
</div>
