.logo-search-box {
  display: flex;
  align-items: center;
}

input {
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: 400;
  width: 345px;
}

img {
  width: 25px;
}

.search-output-header {
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 5;
  width: calc(100% - 41.5px);
  height: fit-content;
  max-height: 300px;
  box-shadow: 0 4px 8px #0000004d;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  overflow-y: scroll;


  img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
}

.user-box>.headline,
.channel-box>.headline {
  color: #535AF1;
  margin-bottom: 16px !important;
}

.channel {

  mat-icon {
    font-weight: bold;
    font-style: italic;
    margin-left: 4px;
  }

  span {
    display: flex;
    align-items: center;
    gap: 28px;
    font-size: 18px;
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
}

.user,
.channel {
  padding: 4px 8px;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    background-color: #ECEEFE;
  }
}


// MESSAGE SEARCH 

.message {
  display: flex;
  font-size: 16px;
  gap: 8px;
  padding: 8px;
  border-radius: 30px;
  cursor: pointer;

  img {
    background-color: white;
  }

  &:hover {
    background-color: #EDEEFE;

    .file-upload-logo {
      background-color: #EDEEFE;
    }
  }
}

.message-container {
  width: 100%;
}

.message-content {
  overflow: hidden;

  span {
    margin: 0;
  }
}

.message-info {
  display: flex;
  gap: 4px;
  font-size: 14px;

  span:first-of-type {
    font-weight: bold;
  }
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}

.file-upload-logo {
  width: 25px !important;
  height: 25px !important;
  border-radius: 0 !important;
  background-color: transparent;
  margin-left: 8px;
}