<mat-tree class="mat-tree" [dataSource]="messageTreeService.dataSource" [treeControl]="messageTreeService.treeControl">
  <!-- This is the tree node template for leaf nodes !IMPORTANT -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePaddingIndent="0px" class="child-node contact"
    (click)="selectReceiver(node.id)">
    <img class="profil-icon" src="{{ node.photoURL }}">
    <app-user-presence [mini]="true" [userID]="node.id"></app-user-presence>
    <div>{{node.name}}</div>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node;when: messageTreeService.hasChild" class="highest-node">
    <div class="main-node">
      <div class="channel-headline">
        <div class="channel-head open-panel" (click)="toggleExpanded(node)">
          <button class="expand-channels-btn" mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="main-icon">
              {{ messageTreeService.treeControl.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right' }}
            </mat-icon>
          </button>
          <img src="assets/img/account_circle.png">
          <h3>{{node.name}}</h3>
        </div>
      </div>
    </div>
  </mat-tree-node>
</mat-tree>