// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import './custom-theme.scss';
@import "node_modules/@ctrl/ngx-emoji-mart/picker.css";



html,
body {
  height: 100%;
}


body {
  scroll-margin-block-end: 0;
  scroll-margin-block-start: 0;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}


$hover-effect-color: #ECEEFE;
$material-size: 24px !important;
$main-color: #797EF3;
$accent-color: #535AF1;
$border-color: #ADB0D9;
$active-color: #444DF2;


.width-100 {
  width: 100%;
}

/****************************** MIXINS ***********************/


@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}


h2 {
  color: var(--Black, #000);
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
}

div {
  font-family: 'Nunito', sans-serif;
}




.user-profile-view-dialog {
  position: absolute !important;
  top: 85px !important;
  right: 15px !important;

  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 30px 0px 30px 30px !important;

    @media(max-width: 767px) {
      border-radius: 30px 30px 30px 30px !important;
    }
  }

  .mat-mdc-dialog-actions>* {
    background-color: #444DF2 !important;
  }

  .mat-mdc-button.mat-unthemed {
    color: white !important;
  }

  .mat-mdc-button {
    box-sizing: border-box !important;
    padding: 20px 25px !important;
    border-radius: 30px !important;
  }


  .cdk-overlay-connected-position-bounding-box {
    top: 0 !important;
    right: 0 !important;
    height: 969px;
    width: 1339px;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .dialog-main-style {
    height: auto !important;
  }
}






/****************************** MAIN INPUT STYLES ***********************/

html {
  --mdc-outlined-text-field-outline-color: #ADB0D9;
  --mdc-outlined-text-field-hover-outline-color: #444DF2;
  --mdc-snackbar-container-shape: 50% !important;
  --mat-standard-button-toggle-disabled-state-text-color: white !important;
  --mat-standard-button-toggle-disabled-state-background-color: #686868 !important;
  --mat-standard-button-toggle-disabled-selected-state-text-color: rgba(0, 0, 0, 0.87);
  --mat-standard-button-toggle-disabled-selected-state-background-color: #bdbdbd;
}


.mat-mdc-fab[disabled],
.mat-mdc-mini-fab[disabled] {
  --mdc-fab-container-color: #686868 !important;
  --mdc-fab-icon-color: white !important;
  --mat-mdc-fab-color: white !important;
}

.mat-mdc-form-field-infix {
  display: flex;
}


.mat-mdc-form-field-infix {
  min-height: 56px;
  height: 60px;

  @media(max-width: 767px) {
    min-height: 45px;
    height: 45px;
  }
}


.mdc-notched-outline__trailing {
  border-top-right-radius: 42px !important;
  border-bottom-right-radius: 42px !important;
  min-width: 0px !important;
}


.mdc-notched-outline__leading {
  border-top-left-radius: 42px !important;
  border-bottom-left-radius: 42px !important;
  min-width: 42px !important;
}

/****************************** BUTTON STYLES ***************************/

button {
  cursor: pointer;
}

.basic-text-button {
  border: unset;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.mat-mdc-radio-button.mat-primary {
  --mdc-radio-unselected-hover-icon-color: #444DF2;
  --mdc-radio-unselected-icon-color: #ADB0D9;
}


.basic-button {
  background-color: transparent;
  border: unset;
  border-radius: 50%;
  padding: 8px;
  height: 40px;
  width: 40px;
  cursor: pointer;

  &:hover {
    background-color: $hover-effect-color;
    color: $main-color
  }
}


.unfilled-text-btn {
  border: solid 1px #797EF3 !important;
  border-radius: 25px;

  &:hover {
    background-color: #535AF1;
    color: white
  }
}



/************************** AUTH COPONENT MATERIAL STYLES **********************/

/* auth components input field styles */

.register-outline-field {

  .mdc-text-field--outlined {
    --mdc-outlined-text-field-outline-width: 0px !important;
    --mdc-outlined-text-field-focus-outline-width: 0px !important;
    --mdc-outlined-text-field-container-shape: 0px !important;
  }

  .mdc-notched-outline__leading {
    border-top-left-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
    min-width: 100px !important;
  }

  .mat-mdc-form-field-infix {
    background-color: #ECEEFE !important;
    border-top-right-radius: 100px !important;
    border-bottom-right-radius: 100px !important;
  }

  .mat-mdc-form-field-icon-prefix,
  .mat-mdc-form-field-icon-suffix {
    padding: 0 0px 0 0;
    background-color: #ECEEFE !important;
    border-top-left-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
  }
}

.resetPassword-input-field {
  .mdc-text-field--outlined {
    --mdc-outlined-text-field-outline-width: 0px !important;
    --mdc-outlined-text-field-focus-outline-width: 0px !important;
    --mdc-outlined-text-field-container-shape: 0px !important;
  }

  .mdc-notched-outline__leading {
    border-top-left-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
    min-width: 100px !important;
  }

  .mat-mdc-form-field-infix {
    background-color: #ECEEFE !important;
    border-top-right-radius: 100px !important;
    border-bottom-right-radius: 100px !important;
    border-top-left-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
  }

  .mat-mdc-form-field-icon-prefix,
  .mat-mdc-form-field-icon-suffix {
    padding: 0 0px 0 0;
    background-color: #ECEEFE !important;
    border-top-left-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
  }
}

/************************** SCROLLBAR STYLES **********************/

*::-webkit-scrollbar {
  display: none;
}



/* For Webkit browsers (Chrome, Safari, newer versions of Edge) */
::-webkit-scrollbar {
  width: 5px; // Adjust width for vertical scrollbar
  height: 5px; // Adjust height for horizontal scrollbar
}


::-webkit-scrollbar-thumb {
  background-color: #444DF2; // Color of the scrollbar
  border-radius: 2px; // Rounded corners
}


/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #444DF2;
}

.profile-menu {
  border-radius: 30px 0px 30px 30px !important;
  background: var(--White, #FFF) !important;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.20) !important;
  z-index: 9000;
  padding: 30px !important;

  .mat-mdc-menu-item:not([disabled]):hover {
    border-radius: 100px !important;
    background: #ECEEFE !important;
    color: #535AF1 !important;
  }
}


[hidden] {
  display: none !important;
}


.emoji-mart,
.emoji-mart-category-label span,
.emoji-mart-dark {
  background-color: #ffffff !important;
  /* Hintergrundfarbe */
  color: #000000 !important;
  /* Textfarbe */
}


@media(max-width: 450px) {

  .user-profile-view-dialog {
    top: unset !important;
    right: unset !important;
  }


  .cdk-overlay-connected-position-bounding-box {
    top: unset !important;
    left: unset !important;
    height: 100vh !important;

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .mat-mdc-menu-panel {
      max-width: unset !important;
    }

    .profile-menu {
      border-radius: 30px 30px 0px 0px !important;
      position: absolute;
      bottom: 0px !important;
      left: 0px !important;
      box-sizing: border-box;
      width: 100vw !important;
      display: flex !important;
      justify-content: center !important;
    }
  }

  .mat-mdc-menu-content,
  .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
    width: 100vw !important;

    div {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .menu-btn {
    padding: unset !important;

    div {
      display: flex !important;
      justify-content: space-between !important;
    }
  }

  .mat-mdc-menu-content {
    padding: 0 !important;

    display: flex !important;
    flex-direction: column !important;
    max-width: unset !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .user-profile-edit-menu {
    .cdk-overlay-connected-position-bounding-box {
      top: -155px !important;
      left: 180px !important;
    }
  }

}

/*for Nest Hub*/
@media screen and (min-width: 1024px) and (max-height: 600px) {}