@use '@angular/material' as mat;
@use 'sass:map';
@use 'palette';

@function define-light-theme($config) {
  $theme: mat.define-light-theme($config);
  $color: map.get($theme, color);
  $color: map.merge($color,
      (background: palette.$light-theme-background-palette,
        foreground: palette.$light-theme-foreground-palette,
      ));
  @return map.merge($theme,
    (color: $color,
    ));
}

@function define-dark-theme($config) {
  $theme: mat.define-dark-theme($config);
  $color: map.get($theme, color);
  $color: map.merge($color,
      (background: palette.$dark-theme-background-palette,
        foreground: palette.$dark-theme-foreground-palette,
      ));
  @return map.merge($theme,
    (color: $color,
    ));
}


$hover-effect-color: #ECEEFE;
$material-size: 24px !important;
$main-color: #797EF3;
$accent-color: #535AF1;
$border-color: #ADB0D9;
$active-color: #444DF2;



/************************** GENERAL STYLES **********************/
.mat-typography {

  h2,
  h3 {
    margin: 0 !important;
  }
}

.mat-icon {
  font-size: 24px !important;
  height: 24px !important;
  width: 24px !important;
}

.mat-mdc-unelevated-button>.mat-icon {
  margin-left: 0px !important;
  height: 24px !important;
  width: 24px !important;
  font-weight: 500;
}


/************************** MATERIAL STYLES **********************/
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/************************** DIALOG STYLES **********************/



.mdc-fab--extended {
  border-radius: 25px !important;
  padding: 12px 25px 12px 25px !important;
}

.channel-dialog {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 30px !important;
  }
}


.corner-right-top-dialog {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 30px 0px 30px 30px;
  }

  position: absolute !important;
  top: 200px !important;
  right: 20px !important;
}






/****************************** INPUT STYLES ***********************/

html {
  --mdc-outlined-text-field-outline-color: #ADB0D9;
  --mdc-outlined-text-field-hover-outline-color: #444DF2;
  --mdc-snackbar-container-shape: 50% !important;
  --mat-standard-button-toggle-disabled-state-text-color: white !important;
  --mat-standard-button-toggle-disabled-state-background-color: #686868 !important;
  --mat-standard-button-toggle-disabled-selected-state-text-color: rgba(0, 0, 0, 0.87);
  --mat-standard-button-toggle-disabled-selected-state-background-color: #bdbdbd;
}

.mat-mdc-form-field-infix {
  min-height: 56px;
  height: 60px;
}


.mdc-notched-outline__trailing {
  border-top-right-radius: 42px !important;
  border-bottom-right-radius: 42px !important;
  min-width: 0px !important;
}


.mat-mdc-fab[disabled],
.mat-mdc-mini-fab[disabled] {
  --mdc-fab-container-color: #686868 !important;
  --mdc-fab-icon-color: white !important;
  --mat-mdc-fab-color: white !important;
}

.mat-mdc-form-field-infix {
  display: flex;
}



.mdc-notched-outline__trailing {
  border-top-right-radius: 42px !important;
  border-bottom-right-radius: 42px !important;
  min-width: 0px !important;
}


.mdc-notched-outline__leading {
  border-top-left-radius: 42px !important;
  border-bottom-left-radius: 42px !important;
  min-width: 42px !important;
}

/******************************TREE STYLES ***********************/
.mat-tree-node {
  flex: 0;
}



.highest-node {
  .mat-mdc-icon-button {
    padding: 0px !important;
    border-radius: 4px !important;
    --mdc-icon-button-state-layer-size: 24px !important;
    --mdc-icon-button-icon-size: 24px !important;

    .mat-mdc-button-persistent-ripple {
      border-radius: 0% !important;
    }

    .mat-mdc-button-touch-target {
      position: absolute;
      height: 24px !important;
      width: 24px !important;
      transform: translate(-50%, -50%);
    }
  }

  .mdc-button,
  .mat-mdc-button,
  .mat-unthemed,
  .mat-mdc-button-base {
    min-width: $material-size;
    height: $material-size !important;
  }

  .mat-mdc-tab-body-wrapper {
    height: 100%;
  }
}

.mat-divider {
  border-top-color: $border-color !important;
}


/******************************SNACKBAR STYLES ***********************/


.error-snackbar {
  --mdc-snackbar-container-color: #f44336 !important;

  .mdc-snackbar__surface {
    border-radius: 50px !important;
  }

  .mat-mdc-snack-bar-label {
    display: flex !important;
    justify-content: center;
  }
}

.success-snackbar {
  --mdc-snackbar-container-color: #444DF2 !important;

  .mdc-snackbar__surface {
    border-radius: 50px !important;
  }

  .mat-mdc-snack-bar-label {
    display: flex !important;
    justify-content: center;
  }

  border-radius: 30px 30px 0px 30px;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.20);
}


/******************************CHIP STYLES (adding users)***********************/


.user-chip-menu.mat-mdc-autocomplete-panel {
  border-radius: 0px 20px 20px 20px !important;
  border: 1px solid #ADB0D9 !important;
}

.mat-mdc-standard-chip {
  border-radius: var(--mdc-chip-container-shape-radius);
  --mdc-chip-container-shape-family: rounded;
  --mdc-chip-container-shape-radius: 35px 35px 35px 35px;
  --mdc-chip-with-avatar-avatar-shape-family: rounded;
  --mdc-chip-with-avatar-avatar-shape-radius: -1px 8px 6px 9px;
  --mdc-chip-with-avatar-avatar-size: 28px;
  --mdc-chip-with-icon-icon-size: 15px;
  height: 30px !important;
}


.mat-mdc-standard-chip {
  --mdc-chip-disabled-label-text-color: #ECEEFE;
  --mdc-chip-elevated-container-color: #ECEEFE;
  --mdc-chip-elevated-disabled-container-color: #e0e0e0;
  --mdc-chip-focus-state-layer-color: #ECEEFE;
  --mdc-chip-focus-state-layer-opacity: 0.12;
  --mdc-chip-label-text-color: #212121;
  --mdc-chip-with-icon-icon-color: #212121;
  --mdc-chip-with-icon-disabled-icon-color: #212121;
  --mdc-chip-with-icon-selected-icon-color: #212121;
  --mdc-chip-with-trailing-icon-disabled-trailing-icon-color: #212121;
  --mdc-chip-with-trailing-icon-trailing-icon-color: #212121;
}

.mdc-evolution-chip-set__chips {
  display: flex !important;
  align-items: center !important;
}

.mat-mdc-standard-chip.mdc-evolution-chip--with-trailing-action .mdc-evolution-chip__action--trailing {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.mat-mdc-chip-set .mdc-evolution-chip-set__chips {
  min-width: 100%;
  overflow: auto;
}

.user-panel {
  max-width: 95vw !important;

  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 30px 30px 30px 30px;
  }

}

.mat-mdc-radio-button.mat-primary {
  --mdc-radio-unselected-hover-icon-color: #444DF2;
  --mdc-radio-unselected-icon-color: #ADB0D9;
}

@media(max-width: 750px) {

  .top-left-right-dialog {
    position: absolute !important;
    bottom: 0 !important;
    max-width: 100vw !important;
    width: 100% !important;
    animation: slideInFromBottom 0.5s ease-out;

    .mat-mdc-dialog-container .mdc-dialog__surface {
      border-radius: 30px 30px 0px 0px !important;
    }



    @keyframes slideInFromBottom {
      from {
        transform: translateY(100%);
      }

      to {
        transform: translateY(0);
      }
    }

    @keyframes slideOutFromBottom {
      from {
        transform: translateY(0);
      }

      to {
        transform: translateY(100%);
      }
    }
  }

  .closing {
    animation: slideOutFromBottom 0.5s ease-out forwards;
  }


  .channel-dialog {
    max-width: 100svw !important;
    max-height: 100svh !important;
    height: 100% !important;

    .mat-mdc-dialog-container .mdc-dialog__surface {
      border-radius: 0px !important;
      display: flex;
      justify-content: center;
    }
  }

  app-edit-channel-dialog {
    overflow: scroll;
    height: 100%;
  }
}



@media(max-width: 450px) {
  .corner-right-top-dialog {
    position: absolute !important;
    top: 130px !important;
    max-width: 95vw !important;
    width: 95vw !important;
  }

  .top-left-right-dialog {
    position: absolute !important;
    /* bottom: 130px !important; */
    max-width: 100vw !important;

    .mat-mdc-dialog-container .mdc-dialog__surface {
      border-radius: 30px 30px 0px 0px;
      background: var(--White, #FFF);
      box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.20);
    }
  }
}