.message_container {
    height: fit-content;
    display: flex;
    gap: 30px;
    padding: 10px 0 10px 45px;
    color: black;
    margin-bottom: 24px;
}

.user_avatar {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.content_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.creator_info {
    display: flex;
    gap: 8px;

    span:first-of-type {
        font-weight: bold;
    }
}

.message {
    border-radius: 0 30px 30px 30px;
    padding: 15px;
    background-color: #ECEEFE;
    max-width: 85%;
}