@import 'src/app/main/chat-components/new-message/new-message.component.scss';

.user_avatar_container {
    cursor: pointer;
}

app-emoji-picker {
    position: absolute;
    bottom: 50px;
}

// MEDIA-QUERIES

@media (max-width: 500px) {

    header {
        height: 60px;
        padding: 10px 25px;
    }
}