<div class="dashboard">
    <section class="message-section">
        <header>
            <div (click)="openProfileDialogInSearch(receiver)" class="user_avatar_container">
                <img src="{{receiver.photoURL}}" alt="">
                <span>{{receiver.name}}</span>
            </div>
        </header>
        <main>
            <app-message *ngFor="let msg of getAllMessages()" [message]="msg"></app-message>
            <div #scroller></div>
            <div *ngIf="!chatExists" class="new_conversation_container">
                <div class="user_info_box">
                    <img src="{{receiver.photoURL}}" alt="">
                    <span>{{receiver.name}}</span>
                </div>
                <span>Diese Unterhaltung findet nur zwischen <span>@{{receiver.name}}</span> und dir statt.</span>
            </div>
        </main>
        <div class="input_message_container">
            <textarea [(ngModel)]="text" placeholder="Nachricht an @{{receiver.name}}"></textarea>
            <div class="control_container">
                <div class="chat_action_box">
                    <div class="file_upload_button">
                        <label for="fileUpload">
                            <mat-icon class="action_btn_style">add</mat-icon>
                        </label>
                        <input type="file" style="display:none;" id="fileUpload" (change)="onUpload($event)">
                    </div>
                    <hr>
                    <mat-icon (click)="toggleEmoji()" class="action_btn_style">sentiment_satisfied</mat-icon>
                    <app-emoji-picker *ngIf="isOpened" (emojiSelectedEvent)="addEmoji($event)"></app-emoji-picker>
                    <mat-icon (click)="openTagMenu()" class="action_btn_style">alternate_email</mat-icon>
                    <div *ngIf="fileUpload" class="file_to_upload">
                        <mat-icon (click)="onDelete(fileUpload.path)" class="delete_btn">close</mat-icon>
                        <img style="height: 45px;" src="{{fileType}}" alt="">
                    </div>
                    <div class="tagMenuOuterContainer">
                        <div *ngIf="showTagMenu" class="tagMenuInnerContainer">
                            <div class="user" *ngFor="let user of allUsers" (click)="tagUser(user.name)">
                                <img src="{{user.photoURL}}" alt="">
                                <span>{{user.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <button [disabled]="text.length == 0" (click)="send()"><mat-icon
                        class="send_btn">send</mat-icon></button>
            </div>
        </div>
    </section>
    <section class="thread-section" *ngIf="this.threadService.threadIsOpen">
        <app-threads></app-threads>
    </section>
</div>