<div class="backgroundContainer">
<div class="imprint-Container"> 
    <div class="logoContent-normal">
        <img src="./assets/img/logo+text.png">
    </div>

    <mat-card>
        <div class="returnToLogin">
            <img src="assets/img/arrow_back.png" [routerLink]="'/login'">
        </div>
        <div>
            <div class="header1">Impressum</div>
            <div class="imprintInfo">
                <div>[Student Name List]</div>
                <div>[Address of DaBubble operator - eg. one of the Student]</div>
                <div>[Post and City]</div>
            </div>
        </div>
        <div>
            <div class="header2">Contact</div>
            <div class="imprintInfo">Email: [Dein Email]</div>
        </div>
    </mat-card>

</div>
</div>