.profile-edit-contianer {
    display: flex;
    padding: 33px;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.title {
    color: var(--Black, #000);
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    text-align: start;
}

.user-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-color: lightgray;
    border-radius: 100%;
}

.name-email-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .name-container {
        box-sizing: border-box;
        width: 100%;

        input {
            font-size: 18px !important;
        }
    }

    .email-container {
        box-sizing: border-box;
        width: 100%;

        input {
            font-size: 18px !important;
        }
    }

    .name-container-title,
    .email-container-title {
        display: flex;
        align-items: center;
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }


    --mdc-outlined-text-field-hover-outline-color: #ADB0D9 !important;
}

.width-100 {
    width: 100%;
}


.name-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border: 2px solid gray;
    border-radius: 100%;
    margin-right: 20px;
}

.email-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    .cancel-btn {
        display: flex;
        padding: 12px 25px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 50px;
        border: 1px solid var(--Purple-2, #797EF3);
        color: #797EF3;

        &:hover {
            filter: opacity(70%);
        }
    }

    .save-btn {
        display: flex;
        padding: 12px 25px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 50px;
        border: 1px solid var(--Purple-2, #797EF3);
        background-color: #444DF2;
        color: white;

        &:hover {
            filter: opacity(70%);
        }
    }
}