<div class="profileEditContianer">
    <div class="title">Dein Profil bearbeiten</div>
    <img class="userImg" src="../assets/img/avatar/person.png">

    <form [formGroup]="userEditForm" (ngSubmit)="onEdit()" class="nameEmail-container">
        <div class="nameContainer form-group">
            <div class="nameContainerTitle">
                <img class="nameIcon" src="../assets/img/person.png">
                <span>Vollständiger Name</span>
            </div>
            <mat-form-field appearance="outline" class="fullWidth" color="primary">
                <input matInput placeholder="Frederik Beck" formControlName="name" type="text">
                <mat-error *ngIf="userEditForm.get('name')?.hasError('required')">Name eingeben</mat-error>
            </mat-form-field>
        </div>
        <div class="emailContainer form-group">
            <div class="emailContainerTitle">
                <img class="emailIcon" src="../assets/img/mail.png">
                <span>E-Mail-Adresse</span>
            </div>
            <mat-form-field appearance="outline" class="fullWidth" color="primary">
                <input matInput placeholder="beispiel@email.com" formControlName="email" type="email">
                <mat-error *ngIf="userEditForm.get('email')?.hasError('required')">Email eingeben</mat-error>
                <mat-error *ngIf="userEditForm.get('email')?.hasError('email')">Richtige Email eingeben</mat-error>
            </mat-form-field>
        </div>

        <div class="buttonContainer paddingTop45">
            <button class="cancelBtn" (click)="this.dialog.closeAll()">Abbrechen</button>
            <button class="saveBtn" type="submit">Speichern</button>
        </div>
    </form>
    


</div>